//= ../../header-page.html

<main
  class="main-page portfolio-page-project container"
  data-role="first-scroll"
>
  <div class="bg-media js-bg-media">
    <video src="./video/bg-main.mp4" autoplay muted></video>
  </div>

  //= ../../nav-pages.html

  <div class="sections js-auto-heigth">
    <section class="portfolio-project-content">
      <nav>
        <span class="js-fancyBox is-gallery">
          Галерея проекта
        </span>
        |
        <span
          class="js-fancyBox is-gallery-video"
          data-fancybox
          href="https://www.youtube.com/watch?v=JWUmsKLNUmQ&feature=emb_logo"
        >
          Видео о проекте
        </span>
        |
        <span
          class="js-fancyBox"
          data-touch="false"
          data-fancybox
          href="./images/portfolio/project/thanks.jpg"
        >
          Благодарность
        </span>
      </nav>

      <h3>
        <a
          href="./index.html?portfolio"
          class="js-portfolio-breadCrumbs js-location-portfolio"
          >Портфолио</a
        >
        /
        <a
          href="./portfolio-private.html"
          class="js-portfolio-breadCrumbs js-location-portfolio-type"
          >Государственные проекты</a
        >
      </h3>

      <div class="project-content-text">
        <p>
          Описание:
        </p>

        <p>
          «2 сентября 2019 года в честь открытия площадки общественной
          территории, примыкающей к стадиону в п. Шугозеро была торжественно
          перерезана красная ленточка. Площадка была благоустроена по
          муниципальной программе «Формирование комфортной городской среды на
          территории Шугозерского сельского поселения на 2018-2022 г.г.».
        </p>

        <p>
          Глава Шугозерского сельского поселения Чекенюк Раиса Петровна
          разрезала красную ленту и торжественно открыла новую площадку. На
          мероприятии присутствовали учащиеся МОУ "Шугозерская СОШ".Старший
          библиотекарь Рубашкина Татьяна Юрьевна рассказала ребятам о том, что
          было ранее на месте стадиона и примыкающей территории. С дальнейшими
          планами по благоустройству территории, примыкающей к стадиону,
          выступила глава администрации Соколова Нина Степановна. Она рассказала
          о выполненных видах работ и призвала беречь общественное имущество и
          бережно относиться к высаженным растениям.
        </p>

        <p>
          Почетные граждане Шугозерского сельского поселения Попова Ирина
          Петровна и Осипова Татьяна Сергеевна обратили внимание присутствующих
          на красоту и исторические традиции по благоустройству поселка
          Шугозеро. Звучали стихи, посвященные родному краю. В завершении
          открытия, всех ждал зажигательный танцевальный флешмоб.»
        </p>
      </div>
    </section>

    <section class="portfolio-project-slideShow animation-slideShow-project">
      <div class="slideShow-block js-slideShow-slider">
        <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_2.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_3.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_4.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_5.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_6.jpg" alt="Image" />
        <img src="./images/portfolio/project/img_7.jpg" alt="Image" />
      </div>
    </section>
  </div>
</main>

//= ../../footer-page.html
