<footer class="footer js_footer">

<div class="footer-wrapper container">
  <div class="footer-wrapper--data">
    <a href="tel:7(812)7774585">+7 (812) 777 45 85</a>
    <a href="mailto:home-oasis@mail.ru">home-oasis@mail.ru</a>
  </div>

  <div class="footer-wrapper--description js_footer-description">
    <p>
      Благоустройство <br>
      и строительные работы с 2006 г.
    </p>
  </div>

  <div class="footer-wrapper--services js_footer-services js_hidden">
    <p class="js_footer-services--item js_services-design--item js_active">
      Проектирование
    </p>
    <p class="js_footer-services--item js_services-beautification--item">
      Благоустройство территорий
    </p>
    <button type="button" class="btn js_footer-services--btn">
      Обсудить проект
    </button>
  </div>

  <div class="footer-wrapper--awards js_footer-awards js_hidden">
    <p class="js_footer-awards--item js_awards-diploma--item js_active">
      Дипломы 
    </p>
    <p class="js_footer-awards--item js_awards-thanks--item">
      Благодарности
    </p>
  </div>

  <div class="footer-wrapper--navigation js_footer-navigation">
    <div class="footer-navigation--arrow arrow-left js_navigation-arrow js_arrow-left"></div>
    <div class="footer-navigation--arrow arrow-right js_navigation-arrow js_arrow-right"></div>
  </div>

</div>

</footer>

<div id="particles-js"></div>
</div>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- OwlCarousel2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- particles-->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<!-- Fancybox-->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Jquery Plyr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.polyfilled.min.js"></script>
<!-- Jquery Validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<!-- Jquery Mask-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<!-- JS -->
<script src="{{var_path_env}}js/custom.js"></script>
</body>
</html>