<footer class="footer container">
        <div class="footer-title">
                Благоустройство
                <br>
                и строительные работы с 2006 г.
        </div>

        <!-- <div>
                <div class="js-project-prev">
                        1
                </div>
                <div class="js-project-next">
                        2
                </div>
        </div> -->

        <div class="footer-data">
                <a href="tel:8 (812) 777-45-85">8 (812) 777-45-85</a>
                <br>
                <a href="mailto:home-oasis@mail.ru">home-oasis@mail.ru</a>
        </div>
</footer>
</div>

//= ./thanks-block.html
<div id="particles-js"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<!--    Fancybox-->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<!-- Jquery Plyr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.6/plyr.min.js"></script>
<!-- JS -->
<script src="{{var_path_env}}js/custom.js"></script>
</body>
</html>