<footer class="footer">

<div class="footer-wrapper container">
  <div class="footer-wrapper--data">
    <a href="tel:8(812)777-45-85">8 (812) 777-45-85</a>
    <a href="mailto:home-oasis@mail.ru">home-oasis@mail.ru</a>
  </div>

  <div class="footer-wrapper--description">
    <p>
      Благоустройство <br>
      и строительные работы с 2006 г.
    </p>
  </div>

  <div class="footer-wrapper--navigation">
    <div class="footer-navigation--arrow arrow-left"></div>
    <div class="footer-navigation--arrow arrow-right"></div>
  </div>

</div>

</footer>

</div>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JS -->
<script src="{{var_path_env}}js/custom.js"></script>
</body>
</html>