<section class="section-contacts js_section-contacts js_section js_animation-contacts js_hidden">
  <div class="section-contacts--wrapper">
    <div class="section-contacts--slider js_contacts-slider js_animation-1">
      <img src="./images/contacts/1.jpg" class="js-active" alt="Image" />
      <img src="./images/contacts/2.jpg" alt="Image" />
      <img src="./images/contacts/3.jpg" alt="Image" />
      <img src="./images/contacts/4.jpg" alt="Image" />
    </div>

    <div class="section-contacts--content js_animation-2 ">
      <div class="contacts-content--block">
        <h3>Приходите к нам</h3>
        <p>
          <a href="#"
            >Санкт-Петербург, <br />
            ул. Бокситогорская, д. 2</a
          >
        </p>

        <h3>Позвоните нам</h3>
        <p>
          <a href="tel:8 812 777-45-85">8 812 777-45-85</a>
        </p>
      </div>

      <div class="contacts-content--block">
        <h3>Работайте с нами</h3>
        <p>
          Присылайте бриф на <br />
          <a href="mailto:home-oasis@mail.ru">home-oasis@mail.ru</a>
        </p>

        <h3>Подпишетесь на нас</h3>
        <p>
          <a href="#">facebook</a>,
          <a href="#">instagram</a>
        </p>
      </div>
    </div>
  </div>
</section>
