<section
  class="section-blog js_section-blog js_section js_animation-blog js_hidden"
>
  <div class="section-blog--wrapper">
    <div class="section-blog--slider js_blog-slider">
      <div class="section-blog--slide js_animation-1">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-2">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-3">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-1">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-2">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-3">
        <img
          src="./images/blog/1.jpg"
          data-object-fit="cover"
          alt="Image"
        />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p><span>Благоустройство</span> <span>20.04.2020</span></p>

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <a href="./page-blog.html" class="btn">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>
