<section class="section-video js_section-video ">
  <div class="section-video--wrapper container">
    <div class="section-video--left">
      <div class="section-video--block mb-20 ">
        <video poster="./images/video/video-poster--1.jpg" playsinline controls class="js_player" preload="none">
          <source src="./video/1.mp4" type="video/mp4"/>
        </video>
      </div>

      <div class="d-flex">
        <div class="section-video--block">
          <video poster="./images/video/video-poster--2.jpg" playsinline controls class="js_player" preload="none">
            <source src="./video/2.mp4" type="video/mp4"/>
          </video>
        </div>
  
        <div class="section-video--block">
          <video poster="./images/video/video-poster--2.jpg" playsinline controls class="js_player" preload="none">
            <source src="./video/2.mp4" type="video/mp4"/>
          </video>
        </div>
      </div>
    </div>
    <div class="section-video--right">
      <div class="section-video--block">
        <video poster="./images/video/video-poster--2.jpg" playsinline controls class="js_player" preload="none">
          <source src="./video/2.mp4" type="video/mp4"/>
        </video>
      </div>
    </div>
  </div>
</section>