<section class="section-blog js_section-blog js_section js_animation-blog js_hidden">
  <div class="section-blog--wrapper">
    <div class="section-blog--slider js_blog-slider">
      <div class="section-blog--slide js_animation-1">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-2">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-3">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-1">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-2">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
      <div class="section-blog--slide js_animation-3">
        <img src="./images/blog/img_1.jpg" data-object-fit="cover" alt="Image" />
        <h3>
          Новый старый сад в Абердине
        </h3>

        <p>
          <span>Благоустройство</span> <span>20.04.2020</span>
        </p>

        <p>
          Краткое описание Краткое описание Краткое описание Краткое описание
          Краткое описание Кратко
        </p>

        <a href="#">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>
