<section class="section-team js_section-team js_section js_hidden">
  <div class="section-team--wrapper">
    <div class="section-team--images">
      <div class="section-team--block">
        <img src="./images/team/1.png" alt="Image" />
        <h4>
          Иван Иваныч
        </h4>
        <p>
          Копирайтер
        </p>
      </div>
      <div class="section-team--block">
        <img src="./images/team/1.png" alt="Image" />
        <h4>
          Иван Иваныч
        </h4>
        <p>
          Копирайтер
        </p>
      </div>
      <div class="section-team--block">
        <img src="./images/team/1.png" alt="Image" />
        <h4>
          Иван Иваныч
        </h4>
        <p>
          Копирайтер
        </p>
      </div>
      <div class="section-team--block">
        <img src="./images/team/1.png" alt="Image" />
        <h4>
          Иван Иваныч
        </h4>
        <p>
          Копирайтер
        </p>
      </div>
      <div class="section-team--block">
        <img src="./images/team/1.png" alt="Image" />
        <h4>
          Иван Иваныч
        </h4>
        <p>
          Копирайтер
        </p>
      </div>
    </div>
  </div>
</section>
