<section class="section-start js_section-start js_section">
  <ul class="section-start--menu js_animation-menu">
    <li class="js_nav-item js_nav-portfolio  js_animation-1">
      Портфолио
    </li>
    <li class="js_nav-item js_nav-video  js_animation-2">
      Видео о компании
    </li>
    <li class="js_nav-item js_nav-awards  js_animation-3">
      Награды
    </li>
    <li class="js_nav-item js_nav-team  js_animation-4">
      Команда
    </li>
    <li class="js_nav-item js_nav-services  js_animation-5">
      Услуги
    </li>
    <li class="js_nav-item js_nav-blog  js_animation-6">
      Блог
    </li>
    <li class="js_nav-item js_nav-contacts  js_animation-7">
      Контакты
    </li>
  </ul>

  <div class="section-start--video">
    <video
      src="./video/section-start--video.mp4"
      autoplay=""
      muted=""
    ></video>
  </div>
</section>