<section
  class="section-awards js_section-awards js_section js_animation-awards js_hidden"
>
  <div class="section-awards--wrapper">
    <div class="section-awards--block js_section-awards--block js_awards-diploma ">
      <div class="section-awards--slider js_awards-diploma--slider js_animation-1">


        <a data-fancybox data-src="./images/awards/diploms/img_1.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_1.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_2.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_2.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_3.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_3.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_4.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_4.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_5.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_5.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_6.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_6.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_7.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_7.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_1.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_1.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_8.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_8.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_9.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_9.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_10.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_10.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_11.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_11.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_12.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_12.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_13.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_13.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_14.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_14.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_15.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_15.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_16.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_16.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_17.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_17.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_18.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_18.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_19.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_19.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_20.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_20.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_21.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_21.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_22.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_22.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_23.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_23.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_24.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_24.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
        

        <a data-fancybox data-src="./images/awards/diploms/img_25.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_25.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>


        <a data-fancybox data-src="./images/awards/diploms/img_23.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_23.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_24.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_24.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
        

        <a data-fancybox data-src="./images/awards/diploms/img_25.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_25.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>


        <a data-fancybox data-src="./images/awards/diploms/img_23.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_23.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/diploms/img_24.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_24.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
        

        <a data-fancybox data-src="./images/awards/diploms/img_25.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_25.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
        

        <a data-fancybox data-src="./images/awards/diploms/img_25.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/diploms/img_min_25.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>



      </div>
    </div>
    
    <div class="section-awards--block js_section-awards--block js_awards-thanks js_hidden">
      <div class="section-awards--slider js_awards-thanks--slider js_animation-2">
        

        <a data-fancybox data-src="./images/awards/thanks/img_1.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_1.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_2.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_2.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_3.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_3.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_4.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_4.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_5.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_5.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_6.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_6.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_7.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_7.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_1.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_1.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_8.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_8.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_9.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_9.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_10.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_10.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_11.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_11.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_12.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_12.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_13.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_13.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_14.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_14.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_15.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_15.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_16.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_16.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_17.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_17.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_18.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_18.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_19.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_19.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_20.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_20.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_21.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_21.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_22.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_22.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_23.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_23.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>
        

        <a data-fancybox data-src="./images/awards/thanks/img_24.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_24.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
        

        <a data-fancybox data-src="./images/awards/thanks/img_25.jpg" data-touch="false" class="section-awards--slide">
          <img src="./images/awards/thanks/img_min_25.jpg" alt="Image" class="owl-lazy" data-object-fit="cover">
          <p>
            2007
          </p>
        </a>

      
      </div>
    </div>
  </div>
</section>
