<section
  class="section-services js_section-services js_section js_animation-services  js_hidden"
>
  <div class="section-services--wrapper">
    <div class="section-services--slider js_animation-1">
      <div class="services-slide--img img_1"></div>
    </div>

    <div class="section-services--content js_animation-2">
      <p>
        В полный пакет ландшафтного проекта будет входить следующие документы.
      </p>
      <ul>
        <li>
          • генплан
        </li>
        <li>
          • дендрологический план, посадочная ведомость
        </li>
        <li>
          • разбивочный чертёж, модульная сетка 1*1 метр
        </li>
        <li>
          • схемы инженерных сетей: схема ливневой и дренажной системы, схема
          размещения ландшафтного освещения, совмещённая со схемой прокладки
          кабелей освещения, схема полуавтоматического или автоматического
          полива (по согласованию с заказчиком)
        </li>
        <li>
          • вариант видовой композиций (по согласованию с заказчиком)
        </li>
        <li>
          • поперечные разрезы перечень, который зависит от индивидуальности
        </li>
      </ul>
      <p></p>
    </div>
  </div>
</section>
