<section class="section-team js_section-team js_section js_animation-team js_hidden">
  <div class="section-team--wrapper">
    <div class="section-team--slider js_team-slider">
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
      <div class="section-team--slide">
        <div class="team-slide--media js_animation-1">
          <img src="./images/team/img_1.png" data-object-fit="cover" alt="image" />
        </div>

        <div class="team-slide--content">
          <h3 class="js_animation-2">
            Имя Фамилия
          </h3>

          <p class="js_animation-3">
            Должность
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
 