<section
  class="section-video js_section-video js_section js_animation-video js_hidden"
>
  <div class="section-video--wrapper container">
    <div class="section-video--left js_animation-1">
      <div class="section-video--block mb-20 js_section-video--block">
        <video
          poster="./images/video/video-poster--1.jpg"
          class="js-player"
          playsinline
          controls
          muted
          preload="none"
        >
          <source src="./video/video/1.mp4" type="video/mp4" />
        </video>

        <span>
          Название видео
        </span>
      </div>

      <div class="d-flex">
        <div class="section-video--block js_section-video--block">
          <video
            poster="./images/video/video-poster--2.jpg"
            playsinline
            controls
            muted
            class="js-player"
            preload="none"
          >
            <source src="./video/video/1.mp4" type="video/mp4" />
          </video>
          <span>
            Название видео
          </span>
        </div>

        <div class="section-video--block js_section-video--block">
          <video
            poster="./images/video/video-poster--3.jpg"
            playsinline
            controls
            muted
            class="js-player"
            preload="none"
          >
            <source src="./video/video/1.mp4" type="video/mp4" />
          </video>
          <span>
            Название видео
          </span>
        </div>
      </div>
    </div>
    <div class="section-video--right js_section-video--block js_animation-2">
      <div class="section-video--block">
        <video
          poster="./images/video/video-poster--4.jpg"
          playsinline
          controls
          muted
          class="js-player"
          preload="none"
        >
          <source src="./video/video/1.mp4" type="video/mp4" />
        </video>
        <span>
          Название видео
        </span>
      </div>
    </div>
  </div>
</section>
