<section class="section-portfolio js_section-portfolio js_section js_animation-portfolio js_hidden">
  <div class="section-portfolio--wrapper js_portfolio-slider">
    <div class="section-portfolio--slide">
      <div class="section-slide--one mb-20 js_animation-1">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>

      <div class="section-slide--two">
        <a href="./page-project.html" class="section-slide--block js_animation-2">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
        <a href="./page-project.html" class="section-slide--block js_animation-3">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>
    </div>

    <div class="section-portfolio--slide ">
      
      <div class="section-slide--one mb-20 js_animation-4">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>

      <div class="section-slide--one js_animation-5">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>
    </div>
    <div class="section-portfolio--slide">
      <div class="section-slide--one mb-20 js_animation-1">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>

      <div class="section-slide--two">
        <a href="./page-project.html" class="section-slide--block js_animation-2">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
        <a href="./page-project.html" class="section-slide--block js_animation-3">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>
    </div>

    <div class="section-portfolio--slide ">
      
      <div class="section-slide--one mb-20 js_animation-4">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>

      <div class="section-slide--one js_animation-5">
        <a href="./page-project.html" class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
