<section class="section-portfolio js_section-portfolio js_hidden">
  <div class="section-portfolio--wrapper js_section-portfolio--slider">
    <div class="section-portfolio--slide js_portfolio-slider--item">
      <div class="section-slide--one mb-20">
        <div class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </div>
      </div>

      <div class="section-slide--two">
        <div class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </div>
        <div class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </div>
      </div>
    </div>

    <div class="section-portfolio--slide js_portfolio-slider--item">
      
      <div class="section-slide--one mb-20">
        <div class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </div>
      </div>

      <div class="section-slide--one">
        <div class="section-slide--block">
          <img
            src="./images/portfolio/gruzino/img_1.jpg"
            alt="Image"
            data-object-fit="cover"
          />
          <h3>
            Грузино
          </h3>
          <p>
            Государственные проекты
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
