<section
  class="section-awards js_section-awards js_section js_animation-awards js_hidden"
>
  <div class="section-awards--wrapper">
    <div class="section-awards--block js_section-awards--block js_awards-diploma ">
      <div class="section-awards--slider js_awards-diploma--slider js_animation-1">

        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2007
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2008
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2009
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2010
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2011
          </p>
        </div>

      </div>
    </div>
    <div class="section-awards--block js_section-awards--block js_awards-thanks js_hidden">
      <div class="section-awards--slider js_awards-thanks--slider js_animation-2">
        

        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2007
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2008
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2009
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2010
          </p>
        </div>


        <div class="section-awards--slide">
          <img src="./images/awards/diploms/1.jpg" alt="Image">
          <p>
            2011
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
