<section class="section-start js_section-start">
  <ul class="section-start--menu">
    <li class="js_nav-item js_nav-portfolio js_active">
      Портфолио
    </li>
    <li class="js_nav-item js_nav-video">
      Видео о компании
    </li>
    <li class="js_nav-item js_nav-awards">
      Награды
    </li>
    <li class="js_nav-item js_nav-team">
      Команда
    </li>
    <li class="js_nav-item js_nav-services">
      Услуги
    </li>
    <li class="js_nav-item js_nav-blog">
      Блог
    </li>
    <li class="js_nav-item js_nav-contacts">
      Контакты
    </li>
  </ul>

  <div class="section-start--video">
    <video
      src="./video/section-start--video.mp4"
      autoplay=""
      muted=""
    ></video>
  </div>
</section>