<div class="thanks" id="thanks" style="display: none">
  <div class="thanks-block">
    <div class="thanks-block-media">
      <img src="./images/thanks.jpg" alt="Image" />
    </div>

    <div class="thanks-block-content">
      <h1>
        Благодарность
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Cum sociis natoque
        penatibus et magnis dis parturient montes. Tincidunt praesent semper
        feugiat nibh sed pulvinar proin gravida. Morbi tincidunt augue interdum
        velit. Curabitur vitae nunc sed velit. Massa sapien faucibus et molestie
        ac feugiat sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
        sed cras. Faucibus turpis in eu mi bibendum neque egestas congue. Sed
        vulputate odio ut enim blandit volutpat. Mauris pharetra et ultrices
        neque ornare aenean euismod elementum nisi. Accumsan in nisl nisi
        scelerisque eu ultrices vitae auctor eu. Mauris rhoncus aenean vel elit
        scelerisque mauris pellentesque. Gravida rutrum quisque non tellus orci
        ac auctor augue. Velit egestas dui id ornare. Est ultricies integer quis
        auctor.
      </p>
    </div>
  </div>
</div>
