.container {
  position: relative;
  width: 100%;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1920px){
    max-width: 1660px;
  }
}

.js_hidden {
  display: none !important;
}

.mb-20 {
  margin-bottom: 20px;
}
