<div id="beautification-5" class="services_modal">
  <h2>
    Обслуживание
  </h2>
  <p>
    Чтобы сохранить объекты благоустройства в цветущем и привлекательном виде,
    необходим тщательный, а иногда - профессиональный уход за зелеными
    насаждениями, водоемами, дорожками, малыми архитектурными формами и другими
    элементами.
  </p>
  <p>
    Краткий перечень мероприятий по уходу за растениями и объектами
    благоустройства включает в себя:
  </p>

  <ul>
    <li>
      подкормки, санитарные обрезки, формовочные обрезки;
    </li>
    <li>
      ремонт покрытий дорожек, площадок, МАФ;
    </li>
    <li>
      ремонт и прочистка дренажной и ливневой систем канализации;
    </li>
    <li>
      ремонт отмостки и облицовки цоколя дома;
    </li>
  </ul>

  <p>
    Поскольку обслуживание ландшафта требует временных и финансовых затрат, его
    целесообразно продумать еще на стадии проработки будущего ландшафта.
  </p>
</div>
