<div id="beautification-13" class="services_modal">
  <h2>
    Зоны отдыха
  </h2>

  <p>
    Зона отдыха — элемент, который отвечает и на индивидуальные, и на групповые
    запросы. Иногда — одновременно, а в некоторых случаях на участке оборудуют
    несколько зон отдыха: отдельно - для семейных вечеринок, отдельно — для
    уединённой релаксации.
  </p>

  <p>
    Существуют компоненты ландшафта и архитектуры, которые традиционно
    предназначены для отдыха.
  </p>

  <ul>
    <li>
      <strong>Терраса</strong> — настил, выполненный на специально
      подготовленном основании, вровень или выше уровня земли, обычно
      примыкающий к одной из стен дома,. Как правило, террасу частично или
      полностью защищают навесом, а также выделяют ограждением, тоже частичным
      или охватывающим весь периметр.
    </li>
    <li>
      <strong>Патио</strong> – это «комната» на открытом воздухе, которая
      органично продолжает пространство дома. Ограждать патио необязательно, но
      непременно нужно сделать каменный, бетонный или мощеный плиткой пол. В
      качестве разделителей, обозначающих такую зону отдыха часто используют
      диваны и другую садовую мебель.
    </li>
    <li>
      <strong>Беседка</strong> - это отдельно стоящее сооружение из дерева,
      камня, металла или сочетания этих материалов. По существу, беседка —
      мини-гостиная на свежем воздухе, всегда крытая и меблированная для
      сидения. Очень часто в беседке размещается традиционный круглый стол,
      который по желанию можно заменить складным.
    </li>
  </ul>

  <p>
    Успех зоны отдыха складывается из привлекательного места и удачной с разных
    точек зрения архитектуры, поэтому её проектирование нередко поручают
    специалистам, хотя простенькую террасу или патио можно продумать
    самостоятельно — если это доставит удовольствие.
  </p>
</div>
