<div id="beautification-9" class="services_modal">
  <h2>
    Облицовка цоколя дома
  </h2>
  <img src="./images/services/modals/beautification/11.jpg" alt="Image" />

  <p>
    Важная мера защиты фундамента - облицовка цоколя дома, которая может
    одновременно выполнять декоративную функцию.
  </p>

  <p>
    Отделка цоколя осуществляется для решения комплекса задач, таких как:
  </p>
  <ul>
    <li>
      защиты основы здания от влияния влаги, ультрафиолета и других природных
      факторов;
    </li>
    <li>
      предотвращения эрозии фундаментного бетона в результате влияния
      агрессивных веществ, содержащихся в грязи;
    </li>

    <li>
      предохранения от разрушения цокольной конструкции в результате
      механического воздействия;
    </li>
    <li>
      защиты фундамента от поражения насекомыми, а также предотвращения развития
      грибка и плесени;
    </li>
    <li>
      поддержания благоприятной температуры и комфортного микроклимата в
      помещениях нижнего этажа;
    </li>
    <li>
      улучшения внешнего вида строения за счет реализации оригинальных решений.
    </li>
  </ul>
  <img src="./images/services/modals/beautification/12.jpg" alt="Image" />

  <p>
    В отделке цоколя используют декоративную или молзаичную штукатурку, кирпич,
    клинкерную плитку, натуральный или искусственный камень, сайдинг и профлист.
  </p>

  <p>
    Вариантов рисунков и материалов отделки цоколя существует великое множество.
    Главное - это разумно подойти к работам, рассчитать количество необходимого
    материала, а также, исходя из конкретного случая, разобраться, какая
    облицовка наиболее выгодна и смотрится благороднее других.
  </p>
</div>
