<div id="beautification-14" class="services_modal">
  <h2>
    Мощение
  </h2>
  <p>
    Грамотное и эстетичное мощение - залог комфорта и признак статуса.
  </p>

  <p>
    В процессе мощения можно выделить 2 основных этапа:
  </p>

  <ul>
    <li>
      Устройство основания с выемкой грунта. Участок размечают, сверяясь с
      планом мощения и намечают дорожки. По заданным размерам идет откопка
      основания, после чего прокладывается геотекстиль, отсыпаются сыпучие
      материалы. И в конце весь этот пирог трамбуется.
    </li>
    <li>
      Процесс мощения. Это красивая финальная стадия, когда выкладывая выбранный
      материал, получается законченный функциональный и важный элемент
      ландшафтного дизайна.
    </li>
  </ul>

  <p>
    При выборе материала мощения, нужно задаться несколькими вопросами: как
    часто будут использоваться дорожки, каковы климатические условия, каков
    стиль благоустраиваемой территории? От ответов будет зависеть, какой
    материал предпочтительнее в том или ином случае, ведь от правильного подбора
    зависит не только эстетическая составляющая, но и срок эксплуатации дорожек.
  </p>
  <p>
    Для мощения дорожек часто используют натуральный камень, который подходит к
    любому стилю ландшафтного дизайна:
  </p>
  <img src="./images/services/modals/beautification/18.jpg" alt="Image" />

  <ul>
    <li>
      <strong>Гранит</strong>, отличающийся прочностью и разнообразием оттенков;
    </li>
    <li>
      <strong>Сланец</strong> с богатой цветовой палитрой. Он легко
      разделяющийся на слои- плитки, которые применяют для укладки;
    </li>
    <li>
      <strong>Кварцит</strong> с шершавой поверхностью, благодаря которой
      дорожка не станет скользкой в дождливую погоду или зимой;
    </li>
    <li>
      <strong>Шунгит</strong>, прочный, устойчивый к истиранию камень,
      выдержанный в серых и черных тонах;
    </li>
    <li>
      <strong>Песчаник</strong> с шероховатой поверхностью, которая препятствует
      скольжению.
    </li>
  </ul>

  <p>
    В качестве материала для мощения используют также искусственный камень.
    Например, бетон (для отделки дорожек могут использоваться как образцы,
    имитирующие природный камень, так и обычные бетонные плиты) и клинкер
    (изготавливается из глины и может использоваться в виде брусчатки или
    плитки).
  </p>
  <img src="./images/services/modals/beautification/19.jpg" alt="Image" />

  <p>
    Также для мощения дорожек можно использовать дерево. Это не самый
    долговечный материал, но очень эффектный и приятный на ощупь материал.
    Продлить срок службы такой дорожки поможет обработка древесины специальными
    средствами. Для этой цели лучше всего подходят дуб и лиственница.
  </p>

  <p>
    Многообразие материалов, способов укладки и рисунков расширяют возможности
    мощения, превращая его в практичное и функциональное украшение любого
    ландшафта.
  </p>
</div>
