<div id="beautification-12" class="services_modal">
  <h2>
    Декоративные водоёмы и фонтаны
  </h2>

  <p>
    Водоём, воссоздающий естественную, «лесную» атмосферу — важное, а иногда и
    главное украшение загородного участка. Фонтан, в свою очередь, помогает
    расслабиться, освежая и в прямом, и в переносном смысле слова.
  </p>

  <p>
    Эти элементы можно включать в ландшафтный дизайн вместе, как дополняющие
    друг друга, или порознь.
  </p>
  <p>
    Начинают, как всегда с выбора места. Для водоёмов подойдет тенистая
    местность: вода не будет цвести, поскольку тень замедлит рост растительности
    в воде и на берегу. Однако не рекомендуется устраивать водоем под деревьями,
    чтобы в него не попадала опавшая листва.
  </p>

  <p>
    Берега оформляют по-разному: можно подвести к воде газон, а можно
    подчеркнуть форму пруда влаголюбивыми растениями. Неподалёку целесообразно
    разместить зону отдыха с подиумом, беседкой или мебельной группой.
  </p>

  <p>
    На участке с выраженным рельефом будет уместен небольшой водопад или ручей,
    возможно — с мостиком. Если рельефа нет, его можно при желании воссоздать.
  </p>

  <p>
    Вишенкой на торте может стать фонтан, расположенный так, чтобы им можно было
    любоваться из зоны отдыха, с террасы или из гостиной.
  </p>

  <p>
    Отдельный аспект, о котором не всегда вовремя вспоминают - подсветка водных
    декоративных элементов, способная удвоить и утроить удовольствие от пруда,
    ручья или фонтана.
  </p>

  <p>
    Водоёмы и фонтаны - оправданная роскошь, которую стоит себе позволить, если
    есть возможность.
  </p>
</div>
