<div id="beautification-10" class="services_modal">
  <h2>
    Отмостка
  </h2>
  <p>
    Отмостка — обязательный элемент благоустройства, который обеспечивает
    сохранность фундамента.
  </p>

  <p>
    Отмостка - это водонепроницаемое покрытие вокруг здания - бетонная или
    асфальтовая полоса, проходящая по периметру здания, с уклоном в направлении
    от здания. Она защищает основание дома от промокания, промерзания и
    разрушения.
  </p>
  <img src="./images/services/modals/beautification/13.jpg" alt="Image" />

  <p>
    По функции отмостки делятся на :
  </p>

  <ul>
    <li>
      <strong>защитную</strong>, т.е. предотвращение негативного воздействия
      внешних факторов на основание;
    </li>
    <li>
      <strong>предохранительную</strong>, т.е. направленную на контроль движения
      газов в грунте;
    </li>
    <li>
      <strong>теплоизоляционную</strong>, т.е. оказывающую влияние на
      регулирование температуры, в частности для борьбы с эффектами пучения при
      промерзании почвы;
    </li>
    <li>
      <strong>декоративную</strong>, т.е. формирующую эстетический вид всего
      участка.
    </li>
  </ul>

  <p>
    Обустройство основания и заливку отмостки вокруг дома проводят по такой же
    технологии, что и для дорожек, но с учетом выполнения обязательного
    требования по уклону от цоколя.
  </p>
  <p>
    В этом аспекте отмостки делятся по составу «пирога».
  </p>
  <img src="./images/services/modals/beautification/14.jpg" alt="Image" />

  <p>
    <strong>Жесткая отмостка</strong> – это слой асфальта или армированного
    бетона на песчано-гравийной подушке. Сверху на нее нередко выкладывают
    тротуарную плитку.
  </p>
  <p>
    <strong> Мягкая отмостка</strong> – многослойная конструкция, в которой под
    проницаемым покрытием (галька, гравий, брусчатка, газон) находятся слои,
    защищающие от воды. Их, как правило, делают из современных гидроизоляционных
    материалов.
  </p>
  <p>
    В качестве финишного материала используют брусчатку, булыжник, бетон,
    асфальт, глину или тротуарную плитку. Также для свайного фундамента очень
    популярна отмостка из щебня.
  </p>

  <p>
    Одним из самых простых и доступных вариантов считается отмостка из бетона,
    но при ее использовании важно помнить о качественных деформационных швах.
    Более интересна брусчатка: можно выбрать практически любой цвет, размер, а
    также форму изделия.
  </p>

  <p>
    Как средство защиты отмостка наиболее эффективна в связке с ливневой
    канализацией.
  </p>
</div>
