<div id="beautification-2" class="services_modal">
  <h2>
    Озеленение
  </h2>
  <p>
    Зелёные насаждения - неотъемлемый компонент благоустройства и ландшафтного
    дизайна, фрагмент природы, которая дарит нам лёгкое дыхание, насыщая воздух
    живительным кислородом.
  </p>
  <img src="./images/services/modals/beautification/2.jpg" alt="Image" />

  <p>
    Работы по озеленению выполняются согласно дендроплану, где фиксируют точное
    положение каждого растения или групп растений, объединенных общим замыслом.
  </p>
  <p>
    Выбор растений должен соответствовать общему стилю сада. Этот процесс
    требует подготовки и множества теоретических знаний – о самих растениях,
    способах их компоновки, особенностях ухода и т. д.
  </p>

  <img src="./images/services/modals/beautification/3.jpg" alt="Image" />

  <p>
    Типология посадок сохранилась на протяжении нескольких столетий.
  </p>

  <p>
    <strong>Рядовая посадка:</strong> деревья и кустарники высаживают в одну
    линию вдоль дорожек или по периметру территории.
  </p>

  <p>
    <strong>Группа, или куртина:</strong> несколько деревьев, искусственно
    высаженных на открытом месте. Группа может состоять из одного вида дерева
    или кустарника, из нескольких видов деревьев, из нескольких видов
    кустарников или из деревьев и кустарников одновременно.
  </p>

  <p>
    <strong>Одиночные посадки, или солитеры:</strong> акцентные растения которые
    лучше всего смотрятся на открытых пространствах и украшают небольших
    территории. Для таких посадок используют красивоцветущие кустарники — розу,
    сирень, жасмин или деревья с оригинальным цветом и формой кроны — голубые
    ели, липы, дубы.
  </p>

  <img src="./images/services/modals/beautification/4.jpg" alt="Image" />

  <p>
    <strong>Живые изгороди:</strong> ограждения из плотно посаженных кустарников
    по периметру участков, клумб, газонов, площадок для отдыха.
  </p>

  <p>
    <strong>Клумбы, рабатки и цветники:</strong> как правило, плоскостные
    композиции разных форм из красивоцветущих и декоративно-лиственных растений.
  </p>

  <p>
    <strong>Вертикальное озеленение:</strong> длинные плети обладают гибкостью,
    так что их можно пускать по опорам в нужном направлении, создавая живописные
    зеленые стены.
  </p>

  <p>
    Озеленение — наиболее естественное средство, позволяющее облагородить любую
    территорию. От него неизбежно выигрывают и люди, и окружающая среда.
  </p>
</div>
