<div id="beautification-3" class="services_modal">
  <h2>
    Декоративное оформление
  </h2>
  <p>
    Декоративное оформление - это самая красивая часть благоустройства
    территории. Важное условие - сочетание эстетики и комфорта.
  </p>
  <img src="./images/services/modals/beautification/5.jpg" alt="Image" />

  <p>
    В любом случае работы по декорированию начинаются с проработки плана и
    выбора стиля оформления. Элементами декоративного оформления могут служить:
  </p>

  <ul>
    <li>
      <strong>Газон.</strong> Аккуратный газон с клумбами- беспроигрышный
      вариант оформления, излюбленный во многих странах;
    </li>
    <li>
      <strong>Вертикальное озеленение.</strong> Для такого приема необходимы
      вьющиеся растения и опора, под которую можно приспособить что угодно, будь
      то стены построек, фонарные столбы, водосточные трубы;
    </li>

    <li>
      <strong>Цветники.</strong> Неисчислимый по количеству вариантов прием
      декорирования, дающий возможность экспериментировать. Однако нужно
      учитывать, что он требует много кропотливой заботы;
    </li>

    <li>
      <strong>Альпийская горка.</strong> Альпинарием называют фрагмент горного
      пейзажа, который, в ландшафтной архитектуре обычно имеет вид небольшой
      возвышенности с цветником и камнями неоднородной фактуры;
    </li>

    <li>
      <strong>Садовые сооружения.</strong> Еще одним способом украсить
      территорию и превратить ее в комфортное место отдых является сооружение
      различных построек: беседки, арки, перголы, бельведеры, особенно эффектные
      в окружении плетущихся растений;
    </li>

    <li>
      <strong>Водоемы.</strong> Устроить водопад или ручеек, живописный пруд,
      фонтан из натурального или искусственного камня;
    </li>

    <li>
      <strong>Изменение формы дорожек.</strong> Криволинейная дорожка может
      подчеркнуть стиль ландшафтной архитектуры и стать важным декоративным
      элементом;
    </li>

    <li>
      <strong>Освещение.</strong> Ландшафтное освещение способно преобразить
      участок, оформление которого только выиграет от продуманного размещения
      светильников;
    </li>

    <li>
      <strong>Сад камней.</strong> Идеальный вариант для участка с проблемной
      почвой.
    </li>
  </ul>

  <p>
    При декорировании участка можно не бояться экспериментов, однако необходимо
    всегда помнить о выбранном общем стиле. В таком случае, переплетая между
    собой несколько приемов оформления, можно добиться удивительного эффекта.
  </p>
</div>
