<div id="beautification-15" class="services_modal">
  <h2>
    Газоны
  </h2>
  <p>
    Зеленый газон – это элемент цивилизованного благоустройства, радующий глаз и
    подходящий для всех форм отдыха.
  </p>
  <p>
    Газоны засевают многолетними растениями – злаками. Эта разновидность флоры
    проживает два этапа своей жизни: ювенильный, в котором растения набирают
    массу, и репродуктивный, когда растения созревают и размножаются.
  </p>
  <p>
    Существуют определённые требования к месту, отведённому под газон.
  </p>

  <ul>
    <li>
      Участок должен быть хорошо освещён.
    </li>
    <img src="./images/services/modals/beautification/20.jpg" alt="Image" />

    <li>
      Газон не располагают в низине, чтобы его не заливало во время выпадения
      атмосферных осадков.
    </li>
    <li>
      Слой плодородной земли не должен превышать 25 см, поскольку чем толще
      почва, тем сложнее сформироваться дерновине.
    </li>
    <li>
      Подстилающий грунт не должен быть щелочным, к примеру — известковым,
      потому что основная масса растений в щелочной среде погибает.
    </li>
  </ul>

  <p>
    По функции сегодня различают 2 типа газонов.
  </p>

  <ul>
    <li>
      <strong>Декоративный</strong>, предназначенный исключительно для
      украшения, а не для прогулок.
    </li>
    <li>
      <strong>Обычная лужайка</strong>, предназначенная для проведения пикников,
      детских и спортивных игр, формирования зон отдыха и прочего.
    </li>
  </ul>

  <p>
    Газоны можно формировать по разным технологиям.
  </p>

  <ul>
    <li>
      <strong>Луговой.</strong> Обычно это небольшого размера площадка,
      засеянная травой.
    </li>
    <li>
      <strong>Травяной сеяный.</strong> Это оптимальный вариант по сумме
      качества к, вкладываемых средств, сил и времени, а также дальнейшего
      обслуживания.
    </li>
    <img src="./images/services/modals/beautification/21.jpg" alt="Image" />
    <li>
      <strong>Садовый.</strong> Эта разновидность как раз относится к категории
      декоративных газонов. По сути, это большая клумба, в которую высажены
      цветы и другие декоративные растения. Обычно по таким лужайкам не ходят.
    </li>
    <li>
      <strong>Мавританский.</strong> Это смесь двух категорий: лугового и
      декоративного. Выделенную под лужайку площадку засевают весной цветами и
      травой. И на этом устройство лужайки заканчивается.
    </li>
    <li>
      <strong>Партерный.</strong> Свое название этот газон получил потому, что
      его разбивают у входа перед дворцом, то есть в партере. Это декоративный
      подвид сеяного травяного вида и своеобразный пик газонного искусства.
    </li>
    <li>
      <strong>Английский. </strong> Это самые первые газоны, от которых все и
      началось. По нему можно ходить, на нем можно лежать, играть и так далее.
    </li>
    <li>
      <strong>Рулонный.</strong> Это все тот же сеяный вариант, только для
      покрытия грунта используют уже готовые пророщенные рулоны зеленой травы.
    </li>
    <li>
      <strong>Решетчатый,</strong> он же экопаркинг. Идея была таковой – создать
      парковки для автомобилей в виде зеленых лужаек. Но идея для массового
      использования так и не прижилась. А вот на загородном участке для одного
      или двух личных авто этот вариант применяется.
    </li>
    <li>
      <strong>Спортивный.</strong> Такие лужайки, как правило, используют в
      личном загородном хозяйстве.
    </li>
  </ul>

  <p>
    Особые. К примеру, газон на крыше или на склоне.
  </p>
</div>
