<div id="beautification-16" class="services_modal">
  <h2>
    Малые архитектурные формы
  </h2>

  <p>
    Малые архитектурные формы -— элемент, без которого ландшафтный дизайн просто
    невозможно себе представить, ведь сад в чистом виде, даже самый пышный, не
    способен стать многофункциональной зоной отдыха.
  </p>
  <img src="./images/services/modals/beautification/22.jpg" alt="Image" />

  <p>
    Их можно разделить по назначению.
  </p>
  <ul>
    <li>
      Универсальные МАФ. К ним относят вазоны для цветов, скамейки, урны,
      велопарковки и др.;
    </li>
    <li>
      Декоративные МАФ. Фонтаны, беседки, мостики;
    </li>
    <li>
      Досуговые МАФ. Качели, горки, песочницы.
    </li>
  </ul>
  <p>
    Малые архитектурные объекты могут быть выполнены из самых разных материалов:
    металла, дерева, натурального или искусственного камня, кирпича или бетона.
    Одно из основных отличий таких объектов от обычных зданий и сооружений -
    отсутствие капитального фундамента.
  </p>
  <img src="./images/services/modals/beautification/23.jpg" alt="Image" />

  <p>
    Элементы архитектуры малых форм организовывают территорию и участвуют в
    создании стилевой общности, общего визуального впечатления от окружающей
    среды.
  </p>

  <p>
    Конечно, все МАФ, которые расположатся на участке, должны сочетаться между
    собой, создавая единую картину ухоженной, красивой территории. Подбирая
    малые архитектурные формы стоит придерживаться выбранного направления,
    руководствуясь не только собственным вкусом, но и целесообразностью,
    практическими функциями того или иного элемента.
  </p>
  <img src="./images/services/modals/beautification/24.jpg" alt="Image" />

  <p>
    Сегодня можно использовать готовые малые архитектурные формы, однако люди с
    повышенными запросами предпочитают объекты, изготовленные на заказ и
    подчёркивающие неповторимый характер ландшафта.
  </p>
</div>
