<div id="beautification-6" class="services_modal">
  <h2>
    Озеленение
  </h2>

  <p>
    Декоративный огород — доступный и, вместе с тем, трендовый элемент
    ландшафтного дизайна.
  </p>
  <img src="./images/services/modals/beautification/8.jpg" alt="Image" />

  <p>
    Сегодня он набирает популярность, поскольку даёт владельцу участка и
    дизайнеру большую степень свободы. Размер и форма грядок можетут быть
    абсолютно любой - треугольной, круглой, квадратной и т. д. Рельефный кусок
    участка можно переоформить и создать грядку каскадного типа или поднять её
    над поверхностью, используя подпорные стенки из дерева, камня и металла.
    Более того, сами подпорные стены можно украсить огородными культурами, а
    композиционное разнообразие огорода обеспечат модули разной формы.
  </p>

  <p>
    При этом место для декоративного огорода необходимо выбирать тщательно:
    должно быть достаточно солнца и минимум ветра. Если грунт в подходящем месте
    недостаточно плодородный, его придётся обогатить или даже заменить.
  </p>
  <img src="./images/services/modals/beautification/9.jpg" alt="Image" />

  <p>
    Важно не забыть об удобном подходе в виде прочной широкой дорожки с твердым
    покрытием, которая может значительно упростить жизнь: она не намокнет от
    частых поливов и обеспечит доступ к грядкам, помогая с комфортом ухаживать
    за растениями...
  </p>

  <p>
    Их выбор зависит от вкуса и склонностей, однако обязательно подобрать
    растения так, чтобы они не мешали друг другу.
  </p>
  Продвинутые любители могут самостоятельно справиться и с обустройством
  декоративного огорода, и с уходом за овощами. Менее опытные поручат первую
  задачу профессионалам, а сами сосредоточатся на эксплуатации. И, наконец,
  некоторые предпочтут полностью положиться сначала на архитектора, а потом на
  садовника.

  <p>
    Таким образом, декоративный огород может прийтись по вкусу любому человеку -
    и тому, кого увлекает сам процесс посадки и выращивания растений; и тому,
    для кого ухоженная грядка важна чисто эстетически.
  </p>
</div>
