<div id="beautification-8" class="services_modal">
  <h2>
    Дренажная система
  </h2>

  <p>
    Без дренажной системы невозможна цивилизованная загородная жизнь. Её
    основная задача — собрать влагу, которой пропитан грунт, и осушить участок.
  </p>

  <p>
    Если на участке есть лишняя вода, почва заболачивается, мелкие фундаменты и
    дорожки деформируются, растения болеют, а в затопленных подвалах и погребах
    появляются плесень и грибок. Все эти неприятности и напасти предотвращает
    дренажная система.
  </p>

  <p>
    Различают несколько дренажных систем, которые отличаются по своему
    конструктивному исполнению и способу монтажа: горизонтальные дренажи;
    вертикальные дренажи; комбинированные (системы, включающие в себя и
    горизонтальные и вертикальные участки). Горизонтальные дренажи, в свою
    очередь подразделяются на:
  </p>

  <ul>
    <li>
      открытые, т.е. дренажные канавы;
    </li>
    <li>
      закрытые, т.е. с использованием дренажных труб.
    </li>
  </ul>

  <p>
    Вертикальный дренаж применяется, когда участок не имеет уклона, а линейный
    глубинный отвод по трубам затруднен, т.к. нет удобных точек слива сточной
    воды.
  </p>
  <p>
    Специалист проконсультирует владельца участка и спроектирует оптимальный
    дренаж, который на долгие годы обеспечит комфорт для людей, растений и
    построек.
  </p>
</div>
