<div id="beautification-1" class="services_modal">
  <h2>
    Разбивка участка на зоны
  </h2>
  <p>
    Чтобы территория стала привлекательной и гармоничной, необходимо разбить её
    на зоны, а потом каждую проработать и распланировать отдельно.
  </p>
  <p>
    При этом прямоугольник, конечно, распланировать намного проще, чем
    треугольный или трапециевидный участок, ромб, надел на склоне. Однако даже
    самую проблемную территорию можно превратить в уютную ландшафтную
    композицию.
  </p>
  <img src="./images/services/modals/beautification/1.jpg" alt="Image" />
  <p>
    Приступая к планировке, важно понимать, что именно на нем должно быть,
    учесть особенности почвы и расположение сторон света.
  </p>

  <p>
    К первоочередным по значимости зонам можно отнести:
  </p>

  <ul>
    <li>
      Парадную зону - это лицо участка. Та зона, которую видят все. кто только
      что попал на участок;
    </li>
    <li>
      Зона для отдыха – это место для проведения досуга;
    </li>
    <li>
      Садово-огородная зона – без такой зоны невозможно получить радующий глаз
      сад. Для успешного роста растений необходима плодородная почва. Если на
      участке грунт плохой, придется завозить чернозем, сажать сидериты и
      вносить минеральные удобрения;
    </li>
    <li>
      Хозяйственная - подсобные помещения, гараж, баня. Та зона, которую лучше
      всего размещать в низменных местах, прятать в тени деревьев, за бордюрными
      посадками, зелеными изгородями.
    </li>
    <li>
      Игровая – место для отдыха детей.
    </li>
  </ul>

  <p>
    Правильная и грамотная разбивка участка на зоны позволит получить удобный,
    функциональный, эстетичный участок для работы, игр и отдыха. Это основа
    благоустройства и ландшафтного дизайна.
  </p>
</div>
