<div id="beautification-19" class="services_modal">
  <h2>
    Выставочные сады
  </h2>

  <p>
    Выставочные сады и парки - это объекты ландшафтной архитектуры, которые
    знакомят посетителей с достижениями науки и техники, промышленности,
    сельского хозяйства, культуры и искусства.
  </p>

  <img src="./images/services/modals/beautification/29.jpg" alt="Image" />
  <p>
    Выставочные сады можно подразделить на:
  </p>

  <ul>
    <li>
      Торговые;
    </li>
    <li>
      Просветительские;
    </li>
    <li>
      Периодические;
    </li>
    <li>
      Приуроченные к юбилеям или знаменательным датам;
    </li>
    <li>
      Постоянно действующие;
    </li>
    <li>
      Универсальные, специализированные, тематические.
    </li>
  </ul>
  <img src="./images/services/modals/beautification/30.jpg" alt="Image" />

  <p>
    Для выставочных садов и парков характерны высокая степень инженерного
    благоустройства; умелое использование МАФ; устройство водоемов, оформленных
    зелеными насаждениями и камнем; разнообразное декоративное мощение дорожек и
    площадок; устройство зимних садов, оранжерей и др.
  </p>

  <p>
    Как правило, выставочные сады - это хорошая возможность для специалистов
    раскрыть свой творческий потенциал, показать свои умения, приобрести опыт.
  </p>
</div>
