<div id="beautification-7" class="services_modal">
  <h2>
    Подпорные стенки
  </h2>

  <p>
    Для участка с выраженным рельефом подпорные стенки — гарантия эстетики и
    высокой функциональности.
  </p>

  <p>
    Подпорные стенки решают целый ряд сложных проблем, связанных с грунтом. Они
    предупреждают обрушение или сезонное сползание переувлажнённого грунта.
  </p>
  <img src="./images/services/modals/beautification/10.jpg" alt="Image" />

  <p>
    Также с помощью подпорных стенок можно создать террасы и подчеркнуть красоту
    пейзажа. Ведь участок на склоне выглядит настолько интересно, что
    специалисты иногда создают искусственный сложный рельеф.
  </p>

  <p>
    И наконец, подпорные стенки могут служить для зонирования, при котором
    различные зоны будут выполнять разные функции.
  </p>

  <p>
    Важно учесть, что подпорные стенки — это инженерные сооружения, которым
    необходим фундамент.
  </p>

  <p>
    При этом построить стенку можно из любого материала, от крупных валунов до
    старых досок, но необходимо учитывать какую именно функцию она будет
    выполнять. Сооружая стенку для укрепления крутого склона, важно выбрать
    материал прочный, тяжелый, способный хорошо скрепляться цементирующим
    составом (кирпич, бетон, габион, камни). А вот для декора годится любой
    материал, имеющий привлекательный внешний вид.
  </p>

  <p>
    Подпорными стенками сложно испортить ландшафтный дизайн участка. Они помогут
    не только выигрышно обыграть нестандартный рельеф, но и создать его с нуля
    на абсолютно плоском участке.
  </p>
</div>
