<div id="beautification-17" class="services_modal">
  <h2>
    Детские площадки
  </h2>

  <p>
    Детская площадка — залог гармоничного развития ребенка.
  </p>
  <img src="./images/services/modals/beautification/25.jpg" alt="Image" />

  <p>
    Чтобы устроить детскую площадку, участок обязательно выравнивают и
    укладывают покрытие: резиновое или искусственный газон.
  </p>

  <p>
    По назначению площадки бывают двух типов.
  </p>

  <ul>
    <li>
      детская площадка для конкретной возрастной группы (от 3 до 6 лет, или от 7
      до 16 лет);
    </li>
    <li>
      универсальная детская площадка, включающая в себя модули для разных
      возрастов.
    </li>
    <img src="./images/services/modals/beautification/26.jpg" alt="Image" />
  </ul>

  <p>
    К основным элементам детских площадок относятся:
  </p>

  <ul>
    <li>
      Качалки‑балансиры;
    </li>
    <li>
      Качалки на пружине;
    </li>
    <li>
      Качели;
    </li>
    <li>
      Лазалки сложных форм;
    </li>
    <li>
      Горки.
    </li>
  </ul>
  <img src="./images/services/modals/beautification/27.jpg" alt="Image" />

  <p>
    Также классическими видами оборудования являются песочницы, домики
    и рукоходы. Но можно встретить и необычные игровые элементы такое как:
    скалодромы, вагончики и другое оборудование, позволяющее разнообразить
    активные игры на свежем воздухе.
  </p>

  <p>
    Чем разнообразнее и интереснее оборудование детской площадки, тем лучше оно
    стимулирует развитие ребёнка, причём не только физическое. Вместе с тем,
    критически важно качество элементов, которое гарантирует их безопасность.
  </p>
</div>
