<div id="beautification-11" class="services_modal">
  <h2>
    Ливневая система
  </h2>

  <p>
    Ливневая система водоотведения собирает стекающую с крыши воду, отводит её
    подальше от строения и равномерно распределяет по участку.
  </p>
  <img src="./images/services/modals/beautification/15.jpg" alt="Image" />

  <p>
    Ливневая конструкция включает в себя дождеприемники и желоба.
  </p>
  <p>
    Дождеприемники используют для локального сбора воды и влаги с крыш зданий.
    Их соединяют с водосточными трубами. В комплект входят: лоток для сбора
    мусора, перегородка и чугунная/оцинкованная решетка.
  </p>
  <img src="./images/services/modals/beautification/16.jpg" alt="Image" />

  <p>
    Желоба применяют же для сбора воды на участках с повышенными нагрузками
    (вблизи автомобильных стоянок и гаражей), и включают в себя металлические
    насадки и декоративную решетку.
  </p>

  <p>
    Такие решётки устанавливаются над лотками для сбора стоков. Они защищают
    стоки от мусора, человека от случайных травм, а автомобили от косметических
    дефектов. Вместе с тем, решётки можно использовать как необычный элемент
    дизайна.
  </p>

  <p>
    Трубы отводят воду из лотков и желобов, направляя ее в сторону коллектора.
    Чаще всего их изготавливают из полипропилена. При выборе их размера
    необходимо учитывать предполагаемый объем отводимых вод.
  </p>
  <img src="./images/services/modals/beautification/17.jpg" alt="Image" />

  <p>
    Также конструкция каналов может включать уловители песка и подземные сточные
    каналы.
  </p>

  <p>
    Соблюдение всех норм и требований к ливнёвке, а также правильный и
    своевременный уход за ней дают возможность не только защитить участок от
    излишних вод, но и дополнить оформление территории новыми декоративными
    элементами.
  </p>
</div>
