<div id="beautification-4" class="services_modal">
  <h2>
    Освещение
  </h2>

  <p>
    Свет в ландшафте должен обеспечить комфорт и, одновременно, сделать пейзаж
    как можно более привлекательным.
  </p>

  <img src="./images/services/modals/beautification/6.jpg" alt="Image" />

  <p>
    Функциональное освещение помогает безопасно и удобно перемещаться по всему
    участку. Оно может быть общим для основных объектов территории: дорожки,
    тропинки, зоны отдыха. Или маркировочным, задача которого обозначить границы
    и задать направление, чтобы комфортно передвигаться в темное время суток.
  </p>

  <p>
    Декоративное освещение создаёт особый, часто романтический образ ландшафта в
    тёмное время суток, подсвечивая и подчёркивая наиболее выигрышные элементы
    ландшафтного дизайна, от беседки и водоёма до эффектной группы растений.
  </p>

  <p>
    Обе функции влияют на выбор светильников, которые станут частью общего
    дизайнерского замысла. Сегодня в ландшафтном освещении используются
    преимущественно комбинации различных источников света: у каждого своя роль.
  </p>
  <img src="./images/services/modals/beautification/7.jpg" alt="Image" />

  <p>
    Индиректы или светильники отраженного света излучают мягкий, не слепящий
    глаза свет, но при этом они довольно габаритные и заметные. По конструкции -
    это направленная вверх под углом труба с расположенной внутри лампой или
    светодиодом.
  </p>

  <p>
    Столбики или болларды применяют для освещения дорожек и парковки.
  </p>

  <p>
    Грунтовые светильники монтируют в горизонтальные поверхности, чтобы получить
    источник света был совершенно незаметен.
  </p>

  <p>
    Декоративные или эффектные светильники снабжены плафонами, которые создают
    интересный световой рисунок на освещаемой поверхности.
  </p>

  <p>
    Ландшафтное освещение — это обязательный элемент оформления загородного
    участка, прямо и косвенно влияющий на качество жизни владельца.
  </p>
</div>
