<div id="beautification-18" class="services_modal">
  <h2>
    Ограждения
  </h2>

  <p>
    Ограждение — функциональный элемент благоустройства, который необходимо
    сделать максимально эстетичным.
  </p>
  <p>
    Можно выделить несколько самых распространенных функций ограждения:
  </p>
  <img src="./images/services/modals/beautification/28.jpg" alt="Image" />

  <ul>
    <li>
      обозначение: функция состоит в том, чтобы обозначить границы участка,
      который используется для определенных целей;
    </li>
    <li>
      защита - не менее важна, чем обозначение границ. Как правило, огражденную
      территорию мы защищаем от воздействия окружающей среды, однако бывают
      случаи, когда мы хотим защитить окружающую среду от деятельности, которая
      проводится на огражденной территории;
    </li>

    <li>
      декоративная функция: ограждение может быть очень эффектным и органически
      вписываться в концепцию ландшафтного дизайна.
    </li>

    <li>
      Ограждения изготавливают из дерева, металла, бетона или современных
      полимерных, а также композитных материалов.
    </li>

    <li>
      При установке применяется секционный, детальный или поэлементный монтаж.
      Особое значение имеет способ крепления опор, который выбирают в
      зависимости от их массивности и габаритов каркаса.
    </li>
  </ul>

  <p>
    Проработка ограждения может превратиться в захватывающий творческий
    процесс,. Но, конечно, на первое место следует ставить функциональность и
    прочность конструкции.
  </p>
</div>
