<div id="design-5" class="services_modal">
  <h2>
    схема расположения ландшафтного освещения, прокладка кабельной линии
  </h2>
  <p>
    Освещение участка и придомовой территории во многом определяет уровень
    комфорта загородной жизни. Чтобы все сделать грамотно, позаботиться о
    безопасности и гармонии, нужно тщательно спланировать проект. Для этого
    служит схема расположения ландшафтного освещения.
  </p>
  <p>
    В первую очередь необходимо обеспечить функциональное освещение, т.е.
    организовать достаточный уровень освещенности лестниц, подъездных путей,
    дорожек, площадок.
  </p>
  <p>
    Эстетику и дополнительный комфорт добавит декоративное освещение: подсветка
    водоемов, альпийской горки, клумб или цветников, беседок и других малых
    архитектурных форм.
  </p>
  <p>
    Для устройства системы освещения участка требуется прокладка кабелей,
    установка опор для фонарей и светильников, монтаж светильников различного
    типа и назначения.
  </p>
</div>
