<div id="design-7" class="services_modal">
  <h2>
    Раскладка мощения
  </h2>
  <p>
    Мощёные дорожки — не роскошь, а неотъемлемый атрибут благоустройства. Причём
    совсем не такой простой, как кажется на первый взгляд: чтобы такая дорожка
    прослужила долгие годы ее необходимо правильно уложить. Сначала всегда
    закладывается подушка, которая обеспечивает устойчивость, надежность и
    достаточную подвижность покрытия — чтобы оно не разрушилось, даже если грунт
    вспучится.
  </p>
  <p>
    Вместе с тем, эстетично вымощенные дорожки служат украшением ландшафта,
    поэтому важно заведомо проработать их внешний вид. Полное представление о
    том, как именно будет выглядеть покрытие, даёт схема раскладки . На чертеже
    отражается рисунок мощения: дуги, кривые, узоры, вставки из другого
    материала (камень, галька, дерево). Грамотно проработанная раскладка
    помогает подчеркнуть рельеф участка и достоинства сада, а дорожки свяжут все
    его элементы в единый комплекс.
  </p>
</div>
