<div id="design-3" class="services_modal">
  <h2>
    разбивочный чертёж и модульная сетка
  </h2>
  <p>
    Гладко было на бумаге — предупреждает русская поговорка. Чтобы на практике
    получилось не хуже, понадобятся разбивочный чертеж и модульная сетка -
    рабочие чертежи, выполненные на основе Генерального плана. Они необходимы,
    чтобы перенести проект на местность. На них отражаются точные размеры
    основных элементов будущего благоустройства (дорожки, подпорные стенки,
    лестницы, водоемы, растения и т.д.), а также их расположение, привязанное к
    опорным точкам плана. Кроме того, проектировщики обозначают размеры
    посадочных мест для растений и присваивают каждому особый номер. Сверяясь с
    такими чертежами, можно безошибочно реализовать проект в натуре.
  </p>
</div>
