<div id="design-4" class="services_modal">
  <h2>
    схема дренажно-ливневой канализационной системы сбора воды
  </h2>
  <p>
    В благоустройстве профилактика лучше лечения. Застоявшаяся вода портит и
    плодородный слой, и конструкции, контактирующие с обводненным грунтом.
    Системы дренажа и ливневой канализации нужны, чтобы для понизить на участке
    уровень грунтовых вод и одновременно - отвести с него поверхностные дождевые
    и талые воды.
  </p>
  <p>
    План дренажной и ливневой систем включает в себя схему прокладки труб,
    расстановку колодцев, дождеприемников и лотков. На нем указаны высотные
    отметки пролегания дренажных врезок и выпусков из колодцев, значения уклона
    труб - всё, что нужно, чтобы обеспечить сохранность дома и будущего
    ландшафта.
  </p>
</div>
