<div id="design-1" class="services_modal">
  <h2>
    Гененральный План
  </h2>
  <p>
    Генеральный план объединяет всё. Его разрабатывают после корректировок,
    когда все элементы и компоненты согласованы и утверждены. Это исходный
    чертеж, на основе которого создают все остальные чертежи, которые называются
    рабочими.
  </p>
  <p>
    На генеральном плане детально отражаются все элементы будущего
    благоустройства: дорожки, площадки, расположение малых архитектурных форм и
    водоемов, а также деревья, кустарники, цветники, газон и всё прочее. Его
    качество во многом определяет качество будущего ландшафта.
  </p>
</div>
