<div id="design-8" class="services_modal">
  <h2>
    Эскиз
  </h2>
  <p>
    Идею часто легче придумать, чем передать её смысл другому человеку. В
    ландшафтном дизайне для этой цели служит эскиз. Он важен, потому что
    объясняет, как именно будет реализована идея архитектора, отражающая запросы
    заказчика. Главное — общее представление: на этом этапе проектирования
    элементы будущего благоустройства изображают схематично, без детальной
    проработки.
  </p>
  <p>
    Эскиз передаёт заказчику цельную картину или концепцию благоустройства
    территории. После уточнений и корректировок на его основании будет
    разработан Генеральный план..
  </p>
</div>
