<div id="design-6" class="services_modal">
  <h2>
    схема полуавтоматического/автоматического полива
  </h2>
  <p>
    Система полива участка является неотъемлемой частью благоустройства
    территории. Всем растениям на участке жизненно необходим правильный уход,
    частью которого является полив. Ведь при недостатке влаги темп развития
    растений замедляется, и увеличивается вероятность их гибели.
  </p>
  <p>
    Схема полива представляет собой план, на котором изображены: прокладка трасс
    водопровода, зоны орошения, установки дождевателей, места расположения
    водного резервуара и цепи подключения поливочных головок к водоснабжению.
  </p>
</div>
