<div id="design-9" class="services_modal">
  <h2>
    Видовой Эскиз
  </h2>
  <p>
    Не каждый разбирается в планах, но качественный рисунок поймёт всякий.
    Видовой эскиз — это изображенный в перспективе главный, наиболее эффектный
    фрагмент проектируемого участка, на котором расположен элемент дизайна -
    существующий или тот, которому ещё предстоит воплотиться.
  </p>
  <p>
    По сути, такой эскиз - самая настоящая картина, демонстрирующая как будет
    выглядеть ключевой элемент в жизни, после завершения благоустройства.
  </p>
</div>
