<div id="design-2" class="services_modal">
  <h2>
    дендрологический план и посадочная ведомость
  </h2>
  <p>
    Дендрология - наука о растениях, и дендрологический план представляет собой
    схему, на которой отображаются цветники, деревья и кустарники, как
    существующие, так и запланированные к посадке. Такой план прорабатывается с
    расчётом на перспективу — учитывая расстояния между взрослыми деревьями,
    высоту их крон, а также нормативные расстояния посадки от построек.
  </p>
  <p>
    Дополняющая дендрологический план посадочная ведомость содержит название
    каждого растения, количество и тип посадки. Таким образом проектировщик
    заранее определяет не только архитектурную и инженерную, но и растительную
    составляющую ландшафта.
  </p>
</div>
