<div id="thanks_1" class="services_modal">
  <h2>
    Lorem ipsum dolor sit amet.
  </h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
  <img src="./images/services/modals/thanks/1.jpg" alt="Image" />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>

  <ul>
    <li>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet.
    </li>
    <li>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet.
    </li>
    <li>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet.
    </li>
    <li>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet.
    </li>
    <li>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet. Lorem ipsum dolor sit amet.
    </li>
  </ul>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>

  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h3>
  <img src="./images/services/modals/thanks/1.jpg" alt="Image" />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis tempora
    debitis nobis, temporibus aliquid necessitatibus fuga animi recusandae id
    voluptates, qui voluptatem? In repudiandae ducimus reiciendis? Quae esse
    soluta est.
  </p>
</div>
