body {
  font-family: "FuturaPT", sans-serif !important;
  cursor: url(../../images/cursor.png), auto !important;
  background-color: #e7ffe2;
  overflow: hidden;

  &.js_bg-color--white {
    background-color: $white;
  }
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;

  &[data-object-fit="cover"] {
    object-fit: cover;
  }
}
