.footer {
  position: fixed;
  bottom: 15px;
  opacity: 0;
  animation: fade-in 0.2s linear 0s forwards;
  z-index: 5;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--data {
      display: flex;
      flex-direction: column;
      a {
        font-weight: bold;
        display: block;
        font-size: 24px;
        line-height: 31px;
        color: $blue;
        text-shadow: 0 -1px 1px $white, 0 -1px 1px $white, 0 1px 1px $white,
          0 1px 1px $white, -1px 0 1px $white, 1px 0 1px $white,
          -1px 0 1px $white, 1px 0 1px $white, -1px -1px 1px $white,
          1px -1px 1px $white, -1px 1px 1px $white, 1px 1px 1px $white,
          -1px -1px 1px $white, 1px -1px 1px $white, -1px 1px 1px $white,
          1px 1px 1px $white;
        transition: 0.3s ease;

        &:hover {
          color: $white;
          text-shadow: 0 -1px 1px $green, 0 -1px 1px $green, 0 1px 1px $green,
            0 1px 1px $green, -1px 0 1px $green, 1px 0 1px $green,
            -1px 0 1px $green, 1px 0 1px $green, -1px -1px 1px $green,
            1px -1px 1px $green, -1px 1px 1px $green, 1px 1px 1px $green,
            -1px -1px 1px $green, 1px -1px 1px $green, -1px 1px 1px $green,
            1px 1px 1px $green;
        }
      }
    }

    &--description {
      width: 400px;
      p {
        font-weight: bold;

        font-size: 24px;
        line-height: 31px;
        text-align: right;
        color: #363838;
        text-shadow: 0 -1px 1px $white, 0 -1px 1px $white, 0 1px 1px $white,
          0 1px 1px $white, -1px 0 1px $white, 1px 0 1px $white,
          -1px 0 1px $white, 1px 0 1px $white, -1px -1px 1px $white,
          1px -1px 1px $white, -1px 1px 1px $white, 1px 1px 1px $white,
          -1px -1px 1px $white, 1px -1px 1px $white, -1px 1px 1px $white,
          1px 1px 1px $white;
      }
    }

    &--services {
      opacity: 0;
      animation: slide-right 0.3s linear 0.1s forwards;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: 30px;
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          opacity: 1;
      }

      P {
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color: $blue;
        transition: 0.4s ease;
        cursor: pointer;
        margin-left: 30px;

        &:first-of-type {
          margin-left: 0;
        }

        &.js_active,
        &:hover {
          color: $green;
        }
      }

      button {
        margin-left: 130px;
        padding-top: 14px;
        padding-bottom: 14px;
        max-width: 250px;
        font-size: 18px;
        line-height: 22px;
      }
    }
    &--awards{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      opacity: 0;
      animation: slide-right 0.3s linear 0s forwards;
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          opacity: 1;
      }
      
      P {
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color: $blue;
        transition: 0.4s ease;
        cursor: pointer;
        margin-left: 30px;

        &:first-of-type {
          margin-left: 0;
        }

        &.js_active,
        &:hover {
          color: $green;
        }
      }
    }

    &--navigation {
      flex-direction: row;
      display: none;
      opacity: 0;
      
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          opacity: 1;
      }

      &.js_active {
        display: flex;
        animation: fade-in 1s linear 0s forwards;
      }

      .footer-navigation--arrow {
        width: 22px;
        height: 40px;
        cursor: pointer;
        margin-right: 30px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        &.arrow-left {
          background-image: url(../../images/icons/arrow-left.svg);

          &:hover {
            background-image: url(../../images/icons/arrow-left--active.svg);
          }
        }

        &.arrow-right {
          background-image: url(../../images/icons/arrow-right.svg);

          &:hover {
            background-image: url(../../images/icons/arrow-right--active.svg);
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
