.header {
  opacity: 0;
  animation: fade-in 0.2s linear 0s forwards;
  position: relative;
  z-index: 5;

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;

    &--logo {
      display: block;
      position: relative;
      z-index: 10;
      img {
        width: 272px;
        height: 99px;
      }
    }

    &--menu {
      display: none;
      flex-direction: row;
      align-items: center;
      opacity: 0;
      position: relative;
      z-index: 10;

      &.js_active {
        display: flex;
        animation: fade-in 1s linear 0s forwards;
      }
      li {
        display: block;
        margin-left: 25px;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color: $blue;
        transition: 0.3s ease;
        cursor: pointer;
        text-shadow: 0 -1px 1px $white, 0 -1px 1px $white, 0 1px 1px $white,
          0 1px 1px $white, -1px 0 1px $white, 1px 0 1px $white,
          -1px 0 1px $white, 1px 0 1px $white, -1px -1px 1px $white,
          1px -1px 1px $white, -1px 1px 1px $white, 1px 1px 1px $white,
          -1px -1px 1px $white, 1px -1px 1px $white, -1px 1px 1px $white,
          1px 1px 1px $white;

        &:hover,
        &.js_active {
          color: $white;
          text-shadow: 0 -1px 1px $green, 0 -1px 1px $green, 0 1px 1px $green,
            0 1px 1px $green, -1px 0 1px $green, 1px 0 1px $green,
            -1px 0 1px $green, 1px 0 1px $green, -1px -1px 1px $green,
            1px -1px 1px $green, -1px 1px 1px $green, 1px 1px 1px $green,
            -1px -1px 1px $green, 1px -1px 1px $green, -1px 1px 1px $green,
            1px 1px 1px $green;
        }

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
