.letter {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
  width: 100%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  font-family: "Montserrat", sans-serif !important;
  margin-right: auto;

  @media (max-width: 640px) {
    max-width: 100%;
  }

  .button {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    max-width: 400px;
    height: 74px;
    background-color: darken(#32c2e3, 10%);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 74px;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    z-index: 2;

    &:before {
      content: "";
      display: block;
      transition: 0.3s ease;
      width: 100%;
      height: 27px;
      background: url("https://medmask.special-sales.com/files/medmask_1/img/offer__shadow.png")
        center top no-repeat;
      cursor: default;
      position: absolute;
      left: 0;
      z-index: 1;
      bottom: -27px;
    }

    &:hover {
      color: #fff;
      background-color: darken(#32c2e3, 30%);

      &:before {
        bottom: 0;
        height: 0;
      }
    }

    &:active {
      transition: 0s;
      background-color: darken(#32c2e3, 100%);
    }

    @media (max-width: 640px) {
      font-size: 18px;
    }
  }

  .text-primary {
    color: #32c2e3;
  }

  &-head {
    padding: 15px 20px;
    background-color: #32c2e3;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 29px;
      line-height: 1em;
      letter-spacing: 0;
      display: block;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 1.4;
      max-width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .letter-discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    &-old-price {
      font-weight: bold;
      font-size: 32px;
      color: #000;
      text-decoration: line-through;
      height: 80px;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      width: 50%;
      align-items: center;
      padding-right: 50px;

      @media (max-width: 640px) {
        font-size: 20px;
      }
    }

    &-percent {
      font-size: 18px;
      color: #000;
      height: 115px;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 130px;
      align-items: center;
      // background-color: #ffa518;
      position: absolute;
      top: -15px;
      left: calc(50% - 65px);
      background: url(https://medmask.special-sales.com/files/medmask_1/img/xoffer__discount_bg.png.pagespeed.ic.Yu8UqiJXUS.png)
        center no-repeat;
      background-size: 100% 115px;

      strong {
        font-weight: bold;
        font-size: 32px;
        line-height: 1.5;
        @media (max-width: 640px) {
          font-size: 20px;
        }
      }
      @media (max-width: 640px) {
        font-size: 15px;
        left: calc(50% - 50px);
        width: 100px;
      }
    }

    &-new-price {
      color: #fff;
      padding-left: 50px;
      font-weight: bold;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      height: 80px;
      width: 50%;
      background-color: #32c2e3;
      @media (max-width: 640px) {
        font-size: 20px;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;

    &.mb-0 {
      margin-bottom: 0;
    }

    @media (max-width: 640px) {
      margin-bottom: 10px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;

    @media (max-width: 640px) {
      margin: 20px auto;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .p-with-bg {
    padding: 30px 10px;
    background-color: #32c2e3;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.01rem;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    @media (max-width: 640px) {
      font-size: 18px;
      padding: 20px;
    }
  }
}
