.nav-list {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: relative;
  transition: 0.3s ease;
  padding-left: 20px;

  li {
    opacity: 0;
  }

  a,
  li {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: $color-primary;
    transition: color 0.5s ease;
    cursor: pointer;
    position: relative;

    &:hover {
      color: $color-success;
      width: 100%;
    }

    &.js-active,
    &:active {
      transition: 0s;
      color: darken($color-success,10%);
    }

    @media screen and (max-width: 1660px) and (max-height: 756px) {
      font-size: 20px;
    }
  }

  &.js-dotted-menu {
    padding-left: 40px;
    list-style-image: url(../../images/icon-dot.svg) !important;
    position: absolute;

    a,
    span {
      opacity: 0;
      display: none;
      // transition: opacity 0.4s ease;
      letter-spacing: 0.05rem;
      color: $color-white;
      text-shadow: -0 -1px 1px #000, 0 -1px 1px #000, -0 1px 1px #000,
        0 1px 1px #000, -1px -0 1px #000, 1px -0 1px #000, -1px 0 1px #000,
        1px 0 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
        1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000,
        -1px 1px 1px #000, 1px 1px 1px #000;
    }

    li {
      width: 0;
      &.js-active {
        transition: 0s;
        list-style-image: url(../../images/icon-dot-active.svg) !important;
      }

      &:hover {
        width: 100%;
        list-style-image: url(../../images/icon-dot-active.svg) !important;

        a,
        span {
          opacity: 1;
          display: block;
        }
      }
    }
  }
}
