.section-services {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 5;

  .owl-stage-outer {
    height: 100%;
  }

  .owl-stage {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .section-services--block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--slider {
    width: 100%;
    max-width: calc(65% - 15px);

    .services-slide--img {
      width: 100%;
      height: 650px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 1660px) and (max-height: 768px) {
        height: 500px;
        overflow: hidden;
      }
      &.img_1 {
        background-image: url(../../images/services/img_1.jpg);
      }
    }

    @media screen and (max-width: 1660px) and (max-height: 768px) {
      height: 500px;
      overflow: hidden;
    }
  }

  &--content {
    width: 100%;
    position: relative;
    max-width: calc(35% - 15px);
    padding-right: 30px;
    overflow-y: auto;
    max-height: 650px;
    box-sizing: border-box;

    @media screen and (max-width: 1660px) and (max-height: 768px) {
      max-height: 550px;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-color: rgba(#bdbdbd, 1);
    }

    p,
    li {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #363838;
    }
  }

  .section-services--animation {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fade-in 0.2s linear 0s forwards;
  }

  .section-services--form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    width: 100%;


    h3 {
      font-weight: bold;
      font-size: 42px;
      line-height: 54px;
      color: #363838;
      margin-bottom: 20px;
      text-shadow: 0 -1px 1px $white, 0 -1px 1px $white, 0 1px 1px $white,
        0 1px 1px $white, -1px 0 1px $white, 1px 0 1px $white, -1px 0 1px $white,
        1px 0 1px $white, -1px -1px 1px $white, 1px -1px 1px $white,
        -1px 1px 1px $white, 1px 1px 1px $white, -1px -1px 1px $white,
        1px -1px 1px $white, -1px 1px 1px $white, 1px 1px 1px $white;
    }

    form {
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: none;
    }

    input {
      display: block;
      width: 100%;
      background: $white;
      border: 3px solid #eaeaea;
      outline: 0;
      box-shadow: 0;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 17px 22px;
      font-weight: 300;
      font-size: 24px;
      line-height: 31px;
      color: $black;
      transition: 0.4s ease;

      &:hover,
      &:focus {
        border-color: $blue;
      }
    }

    button {
      width: 100%;
      display: block;
      padding-top: 17px;
      padding-bottom: 17px;
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $white;
      background: $blue;
      border: 0;
      outline: 0;
      box-sizing: border-box;
      border-radius: 5px;
      transition: 0.4s ease;
      box-shadow: none;
      cursor: pointer;

      &:hover {
        background-color: darken($blue, 15%);
      }
    }

    p {
      font-weight: 300;
      font-size: 24px;
      line-height: 31px;
      color: #363838;
    }

    .services-form--media {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      max-width: 60%;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        background: rgba(255, 255, 255, 0);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }
  }
}
