.section-awards {
  width: 100%;
  position: relative;
  z-index: 3;

  .owl {
    &-stage-outer {
      height: 100%;
    }

    &-stage {
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
    }

    &-item {
      &:last-of-type {
        a {
          &::after {
            right: -20px;
            width: calc(50% + 20px);
          }
        }
      }
      &:first-of-type {
        a {
          &::after {
            right: -20px;
            width: calc(50% + 20px);
          }
          &::after {
            left: -20px;
            width: calc(50% + 20px);
          }
        }
      }
    }

    &-nav {
      display: none;
    }
  }

  .section-awards--block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--slider {
    width: 100%;
    max-width: 100%;
  }

  &--slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 8px);
      bottom: -25px;
      z-index: 5;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $blue;
    }
    &::after {
      content: "";
      position: absolute;
      right: -20px;
      bottom: -20px;
      height: 3px;
      background-color: $green;
      width: calc(100% + 80px);
    }

    picture {
      &.slide-img--border {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: url(../../images/border.svg) center no-repeat;
          background-size: 100% 460px;
          z-index: 11;
          height: 450px;
          width: 100%;
          max-width: 320px;
        }

        @media screen and (max-width: 1660px) and (max-height: 768px) {
          &::after {
            height: 400px;
            background-size: 100% 410px;
          }
        }
      }
    }

    img {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
      margin-bottom: 35px;
      margin-left: auto;
      margin-right: auto;
      height: 450px;
      width: 100%;
      max-width: 320px;

      @media screen and (max-width: 1660px) and (max-height: 768px) {
        height: 400px;
        margin-bottom: 25px;
      }
    }

    p {
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $black;

      @media screen and (max-width: 1660px) and (max-height: 768px) {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}
