.section-video {
  width: 100%;
  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .js-player {
    object-fit: cover;
  }

  &--left {
    width: 100%;
    max-width: calc(50% - 10px);
    .js-player {
      height: 300px;
      @media screen and (max-width: 1660px) and (max-height: 768px) {
        height: 250px;
      }
    }

    .d-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .section-video--block {
        max-width: calc(50% - 10px);
      }
    }
  }

  &--right {
    width: 100%;
    max-width: calc(50% - 10px);
    .js-player {
      height: 620px;
      @media screen and (max-width: 1660px) and (max-height: 768px) {
        height: 520px;
      }
    }
  }
}
