.wrapper-page {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-content: space-between;

  > * {
    width: 100%;
  }

  .main-page {
    flex: 1 0 auto;
    padding-bottom: 75px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
}
