//= ../components/header-page.html

<main class="main-page blog-page container" data-role="first-scroll">
  //= ../components/nav-pages.html

  <div class="sections js-auto-heigth">
    <section class="blog-content">
      <h3>
        Парк над хайвеем
      </h3>

      <div class="blog-content-text">
        <p>
          Атланта - город, где существует развитая система парков. Однако и
          здесь есть места, где для зелени нет места: загруженная скоростная
          трасса и железнодорожные пути давно разрезали самый центр пригородного
          района Buckhead на куски. Исправить эту ошибку призван новаторский
          проект парка, который вознесется над хайвеем и железной дорогой.
        </p>

        <p>
          парк над трассой, вид сверху
        </p>

        <p>
          Это очень амбициозная затея: по замыслу авторов зеленая зона станет
          знаковым сооружением, которое поставит Аталанту в один ряд с Парижем и
          Нью-Йорком, где уже есть всемирно известные линейные парки. Но дело не
          только в гордыне - над земная территория поднимет качество жизни и, в
          конечном итоге, принесет ощутимую экономическую пользу местным
          жителям.
        </p>

        <p>
          Во-первых, парк станет комфортабельной пешеходной тропой, соединяющей
          фрагменты существующей и будущей застройки, деловой и жилой, поскольку
          девелоперы охотно подтянутся туда, куда пока их не заманишь. Во -
          вторых, здесь появится зона отдыха с велосипедной и беговой дорожками,
          а также - местами для общения и релакса. И, наконец, в третьих, в
          центральной части парка, на площади, возникнут рестораны, магазины и
          новая железнодорожная станция.
        </p>

        <p>
          вид с центральной площади линейного парка в Атланте
        </p>

        <p>
          Логично, что парк состоит из трех частей. Северная представляет собой
          общественную зону с небольшим амфитеатром, центральная - своеобразный
          хаб с развитой развлекательно-торговой инфраструктурой, а южная -
          зеленый оазис, настоящий сад, расположенный над городскими джунглями.
        </p>

        <p>
          Протяженность парка над трассой примерно 800 метров, по всей его длине
          пройдет тенистая аллея, связывающая все части воедино. Кроме того,
          маршрут станет стартовой точкой для посещения других, более
          традиционных парков.
        </p>

        <p>
          Аллея в парке над хайвеем, вид с юга
        </p>

        <p>
          Архитектурную часть разработали зодчие из Rogers Partners в
          содружестве с чрезвычайно прогрессивной компанией Nelson Byrd Woltz
          Landscape Architects. Обе фирмы базируются в Нью-Йорке, но деньги на
          реализацию проекта придется искать на месте, и скорее всего,
          финансирование будет смешанным: отчасти потратится город, отчасти
          новаторскую затею профинансируют частные инвесторы.
        </p>
      </div>
    </section>

    <section class="blog-slideShow animation-slideShow-project">
      <div class="slideShow-block js-slideShow-blog">
        <img src="./images/blog/3.jpg" alt="Image" />
        <img src="./images/blog/4.jpg" alt="Image" />
        <img src="./images/blog/5.jpg" alt="Image" />
      </div>
    </section>
  </div>
</main>
//= ../components/footer-page.html
