//= ../components/header-page.html

<main
  class="main-page blog-page container"
  data-role="first-scroll"
>

  //= ../components/nav-pages.html

  <div class="sections js-auto-heigth">
    <section class="blog-content">
      
      <h3>
        Новый старый сад в Абердине
      </h3>

      <div class="blog-content-text">

        <p>
          И в России, и в Европе гордятся сохранившимися старинными парками,
          однако напряженно размышляют над их будущим. Что лучше - научная
          реставрация, после которой парк будет выглядеть так же, как 300 лет
          тому назад, или реновация, которая может вдохнуть в зеленое
          пространство новую жизнь? На этот вопрос нет универсального
          теоретического ответа, зато практические попытки уже появились.
          Например, на днях был обнародован проект реконструкции городского
          парка в шотландском городе Абердине.
        </p>

        <p>
          общественный сад в Абердине
        </p>

        <p>
          Есть мнение, что он станет моделью для других. Во-первых, потому что
          абердинский общественный парк - не просто уголок природы, это важная
          часть генерального плана города. Во-вторых, оттого, что напролом здесь
          действовать нельзя - вокруг зеленых террас уже 5 лет бушуют нешуточные
          страсти. Вкратце история выглядит так: богатый и знатный меценат
          предложил городу 50 миллионов фунтов стерлингов на проект, где на
          месте парка должен был появиться культурный центр. Дар был отвергнут
          вместе с проектом, которому в муниципалитете не хватило только двух
          голосов. И вот теперь, наконец, публике представили новый вариант.
        </p>

        <p>
          аксонометрия отреставрированного сада в Абердине
        </p>

        <p>
          Согласно проекту, разработанному мастерской LDA Design, сад останется
          садом, и знаковые террасы, сооруженные в викторианскую эпоху, тоже
          сохранятся в полном объеме. Более того, проектировщики обещают сберечь
          как можно больше деревьев и кустарников. Новые посадки, обогащающие
          парк, будут дополнять старые.
        </p>

        <p>
          террасный сад в Абердине, ночной вид
        </p>

        <p>
          Верхний уровень террасы после реставрации намереваются подсветить,
          чтобы она выглядела гостеприимно и безопасно в любое время суток.
          "Наша цель - превратить эти сады в любимое всеми всесезонное место
          отдыха. Они могут стать оживленным культурным хабом, и наше
          предложение включает гибкие пространства для различных мероприятий - с
          неформальным амфитеатром и новыми зелеными зонами. Новые элементы и
          активность усилят чувство защищенности", - подчеркивает директор
          проекта Кирстин Тэйлор.
        </p>

        <p>
          Компромисс между старым и новым - неплохой выход для любимых, но
          запущенных парков. По крайней мере - на бумаге. А как на деле будут
          выглядеть Union Terrace Gardens, станет ясно в 2019 году.
        </p>
      </div>
    </section>

    <section class="blog-slideShow animation-slideShow-project">
      <div class="slideShow-block js-slideShow-blog">
        <img src="./images/blog/1.jpg" alt="Image" />
        <img src="./images/blog/2.jpg" alt="Image" />
      </div>
    </section>
  </div>
</main>
//= ../components/footer-page.html
