//= ../components/header-page.html

<main class="main-page container" data-role="first-scroll">
  <div class="bg-media js-bg-media">
    <video src="./video/bg-main.mp4" autoplay muted></video>
  </div>

  <div class="bg-slider js-bg-slider">
    <img
      src="./images/contacts/1.jpg"
      class="js-bg-slider-item js-active"
      alt="Image"
    />
    <img src="./images/contacts/2.jpg" class="js-bg-slider-item" alt="Image" />
    <img src="./images/contacts/3.jpg" class="js-bg-slider-item" alt="Image" />
    <img src="./images/contacts/4.jpg" class="js-bg-slider-item" alt="Image" />
  </div>

  //= ../components/nav-main.html

  <div class="sections js-auto-heigth d-none">
    <section class="section-portfolio js-section-portfolio is-hidden">
      <a
        href="./portfolio-political.html"
        class="portfolio-block commerical-projects"
      >
        <picture>
          <img src="./images/portfolio-bg.jpg" alt="Image" />
        </picture>

        <div class="translate-center">
          <h1>
            Государственные проекты
          </h1>

          <p>
            Здесь представлены некоторые из наших последних работ по
            Гос.Проектам
          </p>
        </div>
      </a>

      <a
        href="./portfolio-private.html"
        class="portfolio-block resident-projects"
      >
        <picture>
          <img src="./images/portfolio-bg.jpg" alt="Image" />
        </picture>
        <div class="translate-center">
          <h1>
            Частные заказы
          </h1>
          <p>
            Здесь представлены некоторые из наших последних работ по Частным
            заказам
          </p>
        </div>
      </a>
    </section>

    <section class="section-video js-section-video is-hidden">
      <div class="section-video-block with-includes">
        <div class="section-video-block-header">
          <a href="#" class="js-animate-show-1 js-fancyBox is-campaign-video-1">
            <img src="./images/img_1.jpg" alt="Image" />
            <span>Видео от руководителя</span>
          </a>
        </div>

        <div class="section-video-block-body">
          <a href="#" class="js-animate-show-2 js-fancyBox is-campaign-video-2">
            <img src="./images/img_1.jpg" alt="Image" />
            <span>Видео от руководителя</span>
          </a>
          <a href="#" class="js-animate-show-3 js-fancyBox is-campaign-video-3">
            <img src="./images/img_1.jpg" alt="Image" />
            <span>Видео от руководителя</span>
          </a>
        </div>
      </div>

      <div class="section-video-block">
        <a
          href="#"
          class="js-animate-show-4 js-fancyBox is-campaign-video-4"
          data-fancybox
          data-touch="false"
        >
          <img src="./images/img_1.jpg" alt="Image" />
          <span>Видео от руководителя</span>
        </a>
      </div>
    </section>

    <section class="section-awards js-section-awards is-hidden">
      <div class="owl-carousel owl-theme owl-loaded nav-animation-show">
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/1.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/2.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/3.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/4.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/5.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/6.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/7.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/8.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/9.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
            <div class="owl-item">
              <div class="section-awards-media">
                <img src="./images/awards/10.jpg" alt="Image" />
              </div>

              <div class="section-awards-content">
                <h1>
                  Комитет по культуре <br />
                  Правительства Санкт-Петербурга
                </h1>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Cum sociis natoque penatibus et magnis dis parturient montes.
                  Tincidunt praesent semper feugiat nibh sed pulvinar proin
                  gravida. Morbi tincidunt augue interdum velit. Curabitur vitae
                  nunc sed velit. Massa sapien faucibus et molestie ac feugiat
                  sed lectus. Pulvinar mattis nunc sed blandit libero volutpat
                  sed cras. Faucibus turpis in eu mi bibendum neque egestas
                  congue. Sed vulputate odio ut enim blandit volutpat. Mauris
                  pharetra et ultrices neque ornare aenean euismod elementum
                  nisi. Accumsan in nisl nisi scelerisque eu ultrices vitae
                  auctor eu. Mauris rhoncus aenean vel elit scelerisque mauris
                  pellentesque. Gravida rutrum quisque non tellus orci ac auctor
                  augue. Velit egestas dui id ornare. Est ultricies integer quis
                  auctor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-team js-section-team is-hidden">
      <div class="section-team-content">
        <div class="team-content-block js-animate-show-1 mb-20">
          <img src="./images/team/1.jpg" alt="Image" />
        </div>
        <div class="team-content-block js-animate-show-2 mb-20">
          <img src="./images/team/1.jpg" alt="Image" />
        </div>
        <div class="team-content-block js-animate-show-3">
          <img src="./images/team/1.jpg" alt="Image" />
        </div>
        <div class="team-content-block js-animate-show-4">
          <img src="./images/team/1.jpg" alt="Image" />
        </div>
      </div>
    </section>

    <section class="section-services js-section-services is-hidden">
      <div class="section-services-wrapper">
        <div class="section-services-breadCrumbs js-services-breadCrumbs">
          <p class="js-active js-services-tab js-service-design">
            Проектирование
          </p>
          <span>|</span>
          <p class="js-services-tab js-service-Landscaping">
            Благоустройство территорий
          </p>
        </div>

        <div class="section-services-content">
          <div class="content-block js-service-design-block">
            <div>
              <div
                class="content-block-media js-services-slider-1 animation-slideShow-project"
              >
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/1.png" alt="Image" />
              </a>
                <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/2.png" alt="Image" />
              </a>
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/3.png" alt="Image" />
              </a>
              <a href="#" data-fancybox data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/4.png" alt="Image" />
              </a>
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/5.png" alt="Image" />
              </a>

              </div>
            </div>

            <div class="content-block-text">
              <p class="js-services-content">
                В полный пакет ландшафтного проекта будет входить следующие
                <br />
                документы. <br />• генплан <br />• дендрологический план,
                посадочная ведомость <br />• разбивочный чертёж, модульная сетка
                1*1 метр <br />• схемы инженерных сетей: схема ливневой и
                дренажной системы, схема размещения ландшафтного освещения,
                совмещённая со схемой прокладки кабелей освещения, схема
                полуавтоматического или автоматического полива (по согласованию
                с заказчиком) <br />• вариант видовой композиций (по
                согласованию с заказчиком) <br />• поперечные разрезы перечень,
                который зависит от индивидуальности участка заказчика и
                разработанного проекта <br />• сметная документация <br />•
                выезд специалистов на участок.
              </p>

              <button class="js-service-discuss btn-services">
                Обсудить проект
              </button>
            </div>
          </div>

          <div class="content-block js-service-Landscaping-block">
            <div class="content-block-media js-services-slider-2">
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/1.png" alt="Image" />
              </a>
                <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/2.png" alt="Image" />
              </a>
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/3.png" alt="Image" />
              </a>
              <a href="#" data-fancybox data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/4.png" alt="Image" />
              </a>
              <a href="#" data-fancybox  data-src="./images/services/1.png" data-touch="false">
                <img src="./images/services/5.png" alt="Image" />
              </a>
            </div>

            <div class="content-block-text">
              <p class="js-services-content">
                В полный пакет ландшафтного проекта будет входить следующие
                <br />
                документы. <br />• генплан <br />• дендрологический план,
                посадочная ведомость <br />• разбивочный чертёж, модульная сетка
                1*1 метр <br />• схемы инженерных сетей: схема ливневой и
                дренажной системы, схема размещения ландшафтного освещения,
                совмещённая со схемой прокладки кабелей освещения, схема
                полуавтоматического или автоматического полива (по согласованию
                с заказчиком) <br />• вариант видовой композиций (по
                согласованию с заказчиком) <br />• поперечные разрезы перечень,
                который зависит от индивидуальности участка заказчика и
                разработанного проекта <br />• сметная документация <br />•
                выезд специалистов на участок.
              </p>

              <button type="button" class="js-service-discuss btn-services">
                Обсудить проект
              </button>
            </div>
          </div>

          <div class="section-animation-block">
            <img src="./images/services/services-titile.svg" alt="Image" />
          </div>

          <div class="section-services-form">
            <h1>
              Введите контактные данные
            </h1>

            <form class="js-services-form">
              <input type="text" name="Name" placeholder="Имя" />
              <input type="tel" name="tel" placeholder="+7 (999) 999-99-99" />
              <button type="submit" class="js-services-submit btn-services">
                Обсудить проект
              </button>

              <p>
                Мы находимся по адресу <br />
                Санкт-Петербург, ул. Бокситогорская, д. 2
              </p>
            </form>

            <div class="services-form-media">
              <img src="./images/contacts/3.jpg" alt="Image" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-blog js-section-blog is-hidden">
      <div class="section-blog-content">
        <div class="section-blog-block">
          <img src="./images/blog/1.jpg" alt="Image" />
          <h3>
            Новый старый сад в Абердине
          </h3>
          <p>
            И в России, и в Европе гордятся сохранившимися старинными парками,
            однако напряженно размышляют над их будущим. Что лучше - научная
            реставрация, после которой парк будет выглядеть так же, как 300 лет
            тому назад, или реновация, которая может вдохнуть в зеленое
            пространство новую жизнь? На этот вопрос нет универсального
            теоретического ответа, зато практические попытки уже появились.
            Например, на днях был обнародован проект реконструкции городского
            парка в шотландском городе Абердине.
          </p>

          <a href="./blog-1.html">
            Подробнее
          </a>
        </div>
        <div class="section-blog-block">
          <img src="./images/blog/3.jpg" alt="Image" />
          <h3>
            Парк над хайвеем
          </h3>
          <p>
            Атланта - город, где существует развитая система парков. Однако и
            здесь есть места, где для зелени нет места: загруженная скоростная
            трасса и железнодорожные пути давно разрезали самый центр
            пригородного района Buckhead на куски. Исправить эту ошибку призван
            новаторский проект парка, который вознесется над хайвеем и железной
            дорогой.
          </p>

          <a href="./blog-2.html">
            Подробнее
          </a>
        </div>
      </div>
    </section>

    <section class="section-contacts js-section-contacts is-hidden">
      <div class="section-contacts-content">
        <div class="contacts-content-block">
          <h3>Приходите к нам</h3>
          <p>
            <a href="#"
              >Санкт-Петербург, <br />
              ул. Бокситогорская, д. 2</a
            >
          </p>

          <h3>Позвоните нам</h3>
          <p>
            <a href="tel:8 812 777-45-85">8 812 777-45-85</a>
          </p>
        </div>

        <div class="contacts-content-block">
          <h3>Работайте с нами</h3>
          <p>
            Присылайте бриф на <br />
            <a href="mailto:home-oasis@mail.ru">home-oasis@mail.ru</a>
          </p>

          <h3>Подпишетесь на нас</h3>
          <p>
            <a
              class="js-fancyBox"
              data-touch="false"
              data-fancybox
              href="#thanks"
              >facebook</a
            >,
            <a
              class="js-fancyBox"
              data-touch="false"
              data-fancybox
              href="#thanks"
              >instagram</a
            >
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

//= ../components/footer-page.html
