//= ../components/header-page.html

<main class="main-page container">

    <section class="section-start">
        <ul class="section-start--menu">
          <li class="js_active">
            Портфолио
          </li>
          <li>
            Видео о компании
          </li>
          <li>
            Награды
          </li>
          <li>
            Команда
          </li>
          <li>
            Услуги
          </li>
          <li>
            Блог
          </li>
          <li>
            Контакты
          </li>
        </ul>
        
        <div class="section-start--video">
          <video src="./video/section-start--video.mp4"  autoplay="" muted=""></video>
        </div>
    </section>

</main>

//= ../components/footer-page.html
