//= ../components/header-page.html

<div class="letter">
  <div class="letter-head">
    <h1>
      ЗАЩИТНАЯ МАСКА
    </h1>

    <p>
      ПРЕДНАЗНАЧЕНА ДЛЯ ИНДИВИДУАЛЬНОЙ ЗАЩИТЫ ОРГАНОВ ДЫХАНИЯ ОТ БАКТЕРИЙ,
      МИКРООРГАНИЗМОВ И ВИРУСОВ
    </p>
  </div>

  <img
    src="https://medmask.special-sales.com/files/medmask_1/img/offer_top__image_v2.jpg"
    alt="image"
    class="mb-0"
  />

  <div class="letter-discount">
    <p class="letter-discount-old-price">
      998 руб.
    </p>

    <p class="letter-discount-percent">
      СКИДКА <br />
      <strong>50 %</strong>
    </p>

    <p class="letter-discount-new-price">
      499 руб.*
    </p>
  </div>

  <a href="#" class="button">
    Заказать сейчас
  </a>

  <h2>СПЕЦИАЛЬНАЯ <span class="text-primary">ЗАЩИТНАЯ МАСКА</span></h2>

  <img
    src="https://medmask.special-sales.com/files/medmask_1/img/char.png.jpeg"
    alt="Image"
  />
  <img
    src="https://medmask.special-sales.com/files/medmask_1/img/ssdd1.jpg"
    alt="Image"
  />

  <p class="p-with-bg">
    Надежно защищает дыхательные пути от содержащихся в воздухе микроорганизмов
    и бактерий. Плотно прилегает к лицу, обеспечивая максимальный комфорт. Не
    натирает переносицу, не вызывает дискомфорта в ношении. Обеспечивает защиту
    на протяжении дня. Подходит для многоразового использования.
  </p>

  <a href="#" class="button">
    Заказать сейчас
  </a>
</div>

//= ../components/footer-page.html
