//= ../components/header-page.html

<main class="main-page container js_project-page">
  <section
    class="page-project js_page-project js_page js_animation-project--page"
  >
    <div class="page-project--wrapper">
      <div class="page-project--content">
        <h2 class="js_animation-1">
          Благоустройство Шугозеро
        </h2>

        <div class="page-project--details js_animation-2">
          <a href="#">
            Видео о проекте
          </a>
          <span>
            |
          </span>
          <a href="#">
            Благодарность
          </a>
        </div>

        <div class="page-project--text js_animation-3">
          <p>
            «2 сентября 2019 года в честь открытия площадки общественной
            территории, примыкающей к стадиону в п. Шугозеро была торжественно
            перерезана красная ленточка. Площадка была благоустроена по
            муниципальной программе «Формирование комфортной городской среды на
            территории Шугозерского сельского поселения на 2018-2022 г.г.».
          </p>

          <p>
            Глава Шугозерского сельского поселения Чекенюк Раиса Петровна
            разрезала красную ленту и торжественно открыла новую площадку. На
            мероприятии присутствовали учащиеся МОУ "Шугозерская СОШ". Старший
            библиотекарь Рубашкина Татьяна Юрьевна рассказала ребятам о том, что
            было ранее на месте стадиона и примыкающей территории.
          </p>
        </div>
      </div>
      <div class="page-project--slider js_page-project--slider js_animation-4">
        <img src="./images/pages/project/1/img_1.jpg" data-object-fit="cover" alt="Image" />
        <img src="./images/pages/project/1/img_2.jpg" data-object-fit="cover" alt="Image" />
        <img src="./images/pages/project/1/img_3.jpg" data-object-fit="cover" alt="Image" />
        <img src="./images/pages/project/1/img_4.jpg" data-object-fit="cover" alt="Image" />
        <img src="./images/pages/project/1/img_5.jpg" data-object-fit="cover" alt="Image" />
      </div>
    </div>
  </section>
</main>

//= ../components/footer-page.html
