<section class="page-blog js_page-blog js_page js_animation-blog--page">
  <div class="page-blog--wrapper">
    <div class="page-blog--content">
      <h2 class="js_animation-1">
        Новый старый сад в Абердине
      </h2>

      <div class="page-blog--text js_animation-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Cum sociis
          natoque penatibus et magnis dis parturient montes. Tincidunt praesent
          semper feugiat nibh sed pulvinar proin gravida. Morbi tincidunt augue
          interdum velit. Curabitur vitae nunc sed velit. Massa sapien faucibus
          et molestie ac feugiat sed lectus. Pulvinar mattis nunc sed blandit
          libero volutpat sed cras. Faucibus turpis in eu mi bibendum neque
          egestas congue. Sed vulputate odio ut enim blandit volutpat. Mauris
          pharetra et ultrices neque ornare aenean euismod elementum nisi.
          Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu. Mauris
          rhoncus aenean vel elit scelerisque mauris pellentesque. Gravida
          rutrum quisque non tellus orci ac auctor augue. Velit egestas dui id
          ornare. Est ultricies integer quis auctor.
        </p>
      </div>
    </div>
    <div class="page-blog--slider js_page-blog--slider js_animation-3">
      <img src="./images/pages/blog/img_1.jpg" alt="Image">
      <img src="./images/pages/blog/img_1.jpg" alt="Image">
      <img src="./images/pages/blog/img_1.jpg" alt="Image">
      <img src="./images/pages/blog/img_1.jpg" alt="Image">
    </div>
  </div>
</section>
