//= ../header-page.html

<main class="main-page portfolio-page container" data-role="first-scroll">
  //= ../nav-pages.html

  <div class="sections js-auto-heigth ">
    <div class="portfolio-page-main nav-animation-show">
      <div class="portfolio-page-content  w-50">
        <div class="portfolio-page-block">
          <a href="./portfolio-political-page-1.html" class="js-animate-show-1">
            <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
            <span>Перейти на страницу проекта</span>
          </a>
        </div>

        <div class="portfolio-page-block w-50">
          <a href="./portfolio-political-page-1.html" class="js-animate-show-2">
            <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
            <span>Перейти на страницу проекта</span>
          </a>

          <a href="./portfolio-political-page-1.html" class="js-animate-show-3">
            <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
            <span>Перейти на страницу проекта</span>
          </a>
        </div>
      </div>
      <div class="portfolio-page-content  w-50">
        <div class="portfolio-page-block">
          <a href="./portfolio-political-page-1.html" class="js-animate-show-1">
            <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
            <span>Перейти на страницу проекта</span>
          </a>
        </div>

        <div class="portfolio-page-block">
          <a href="./portfolio-political-page-1.html" class="js-animate-show-3">
            <img src="./images/portfolio/project/img_1.jpg" alt="Image" />
            <span>Перейти на страницу проекта</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

//= ../footer-page.html
