@keyframes nav_animation-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.nav_animation-hide {
  animation: nav-animation-hide 0.3s linear 0.3s forwards;
}

@keyframes nav-animation-show-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-z-index {
  0% {
    z-index: 99999;
  }
  95% {
    z-index: 99999;
  }
  100% {
    z-index: 0;
  }
}

@keyframes nav-animation-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-animation-show {
  animation: nav-animation-show 0.3s linear 0.3s forwards;
}

@keyframes none-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes service-fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }

  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes service-hide {
  from {
    z-index: 999999;
  }

  to {
    z-index: -1;
  }
}

@keyframes animation-slideShow-project {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.animation-slideShow-project {
  animation: animation-slideShow-project 1s linear 7s forwards;
}

@keyframes hideBgVideoServices {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// show nav items
.nav-list {
  &.nav-animation-show {
    li {
      &:nth-child(1) {
        animation: nav-animation-show 0.3s linear 0.3s forwards;
      }

      &:nth-child(2) {
        animation: nav-animation-show 0.3s linear 0.6s forwards;
      }

      &:nth-child(3) {
        animation: nav-animation-show 0.3s linear 0.9s forwards;
      }

      &:nth-child(4) {
        animation: nav-animation-show 0.3s linear 1.2s forwards;
      }

      &:nth-child(5) {
        animation: nav-animation-show 0.3s linear 1.5s forwards;
      }

      &:nth-child(6) {
        animation: nav-animation-show 0.3s linear 1.8s forwards;
      }

      &:nth-child(7) {
        animation: nav-animation-show 0.3s linear 2s forwards;
      }
    }
  }
}

// show portfolio blocks
.portfolio-page-main {
  &.nav-animation-show {
    .js-animate-show-1 {
      animation: nav-animation-show 0.2s linear 0.2s forwards;
    }
    .js-animate-show-2 {
      animation: nav-animation-show 0.2s linear 0.4s forwards;
    }
    .js-animate-show-3 {
      animation: nav-animation-show 0.2s linear 0.6s forwards;
    }
    .js-animate-show-4 {
      animation: nav-animation-show 0.2s linear 0.8s forwards;
    }
  }
}

// show campaign video blocks
.section-video {
  .js-animate-show-1 {
    animation: nav-animation-show 0.2s linear 0.2s forwards;
  }
  .js-animate-show-2 {
    animation: nav-animation-show 0.2s linear 0.4s forwards;
  }
  .js-animate-show-3 {
    animation: nav-animation-show 0.2s linear 0.6s forwards;
  }
  .js-animate-show-4 {
    animation: nav-animation-show 0.2s linear 0.8s forwards;
  }
}

// show Team card blocks
.section-team {
  .js-animate-show-1 {
    animation: nav-animation-show 0.2s linear 0.2s forwards;
  }
  .js-animate-show-2 {
    animation: nav-animation-show 0.2s linear 0.4s forwards;
  }
  .js-animate-show-3 {
    animation: nav-animation-show 0.2s linear 0.6s forwards;
  }
  .js-animate-show-4 {
    animation: nav-animation-show 0.2s linear 0.8s forwards;
  }
}

.js-animation-services-stop {
  .js-bg-media-services {
    display: none !important;
  }

  .js-service-design-block .js-services-slider-1 {
    animation: none !important;
    opacity: 1 !important;
  }
}
