.bg-slider-arrows {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .slider-arrow {
    display: block;
    width: 30px;
    height: 100%;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      background: url(../../images/icon-arrow.svg) center no-repeat;
      background-size: contain !important;
      width: 30px;
      height: 40px;
      left: 0;
      top: 0;
    }

    &.js-prev {
      transform: rotate(180deg);
    }

    &:hover {
      &::after {
        background: url(../../images/icon-arrow-hover.svg) center no-repeat;
        transform: rotate(180deg);
      }
    }
  }
}

.bg-slider {
  display: none;
  z-index: -1;
  width: 50%;
  left: 0;
  right: 0;
  max-width: 50%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;

    transform: matrix(1, 0, 0, 1, 0, 0);
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.5)),
      color-stop(100%, rgba(255, 255, 255, 1))
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -o-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -ms-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
  .owl-stage-outer {
    height: 100%;
  }

  .owl-nav {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 99999;

    button {
      border: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      background: transparent;
      z-index: 99999;
      position: relative;
      display: none;

      &.owl-prev {
        z-index: 99999;

        &::before {
          content: "";
          width: 50px;
          height: 50px;
          background: url(../../images/icon-arrow.svg) center no-repeat;
          background-size: contain;
          display: block;
          z-index: 99999;
          z-index: 99999;
          transform: rotate(180deg);
        }

        &:hover {
          background: url(../../images/icon-arrow-active.svg) center no-repeat;
        }
      }

      &.owl-next {
        z-index: 99999;

        &::before {
          content: "";
          z-index: 99999;
          width: 50px;
          height: 50px;
          background: url(../../images/icon-arrow.svg) center no-repeat;
          background-size: contain;
          display: block;
          z-index: 99999;
        }

        &:hover {
          background: url(../../images/icon-arrow-active.svg) center no-repeat;
        }
      }
    }
  }

  .owl-stage {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  img {
    width: 100%;

    &.js-active {
      animation: nav-animation-show 0.3s linear 0s forwards;
      display: block;
    }
  }
}
