.btn {
  position: relative;
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: center;
  color: $white;
  background: $blue;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.4s ease;
  box-shadow: none;
  cursor: pointer;

  &::after {
    content: none;
    position: absolute;
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
    top: calc(50% - 18px);
    border: 3px solid $white;
    border-radius: 50%;
    border-color: transparent $white transparent $white;
    animation: loader_rotate 0.5s linear 0s infinite;
    z-index: 3;
  }

  &:hover {
    background-color: darken($blue, 15%);
  }

  &:active {
    transition: 0s;
    background-color: darken($blue, 25%);
  }
  &.js_loader {
    color: transparent;
    background-color: darken($blue, 25%);
    &::after {
      content: "";
    }
  }
}
