.btn {
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: center;
  color: $white;
  background: $blue;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.4s ease;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    background-color: darken($blue, 15%);
  }

  &:active {
    transition: 0s;
    background-color: darken($blue, 25%);
  }
}
