.fancybox-bg {
  background: $color-white;
}

.fancybox-slide--image{
  padding-left: 150px;
  padding-right: 150px;
}

.fancybox-slide--html{
  padding: 0;
}

.fancybox-close-small{
  width: 88px;
  height: 88px;
  color: $color-primary !important;
}