.main-page {
  align-items: center;
  display: flex;

  &[data-role="portfolio"] {
    .section-portfolio {
      animation: nav-animation-show 0.3s linear 0.3s forwards;
    }
  }

  .bg-media {
    z-index: -2;
    video {
      @media screen and (min-width: 1439px) and (min-height: 750px) {
        transform: scaleY(1.2);
      }
    }
  }

  &[data-role="awards"],
  &[data-role="contacts"],
  &[data-role="portfolio"],
  &[data-role="team"],
  &[data-role="campaignVideo"],
  &[data-role="blog"],
  &[data-role="services"] {
    .bg-media {
      display: none;
    }
  }

  &[data-role="contacts"] {
    .bg-slider {
      display: block;
    }
  }

  &.portfolio-page-project {
    .bg-media {
      display: block;
    }
  }
}
